/* Colours */
/* Links */
/* Mixins */
/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview {
  font-size: 13px;
  border: thin solid #aaa;
  margin-top: 10px;
}

/* line 7, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview h2 {
  margin: 0px;
  padding: 3px 3px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  background-color: #8D96AC;
}

/* line 16, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-container {
  height: 300px;
  overflow-y: scroll;
  border-top: thin solid #aaa;
}

/* line 22, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-changeset {
  border-bottom: thin solid #aaa;
  height: 50px;
}

/* line 27, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-current {
  background-color: #E6E8ED;
}

/* line 31, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-header {
  padding: 0px 3px;
}

/* line 35, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-body {
  padding: 3px;
}

/* line 39, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-title {
  float: left;
  font-size: 13px;
  font-family: Courier, monospace;
  font-weight: bold;
}

/* line 46, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-buttons {
  float: right;
}

/* line 50, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-clear {
  clear: both;
}

/* line 54, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-date {
  float: right;
  font-size: 10px;
  font-family: Courier, monospace;
}

/* line 60, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_changesetview.scss */
.pc-changesetview-id {
  float: right;
  font-size: 10px;
  color: #AAA;
  font-family: Courier, monospace;
}

/* line 79, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-details {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 20px 0px;
  border-bottom: 1px solid #cccccc;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-details {
  overflow-x: hidden;
}

/* line 87, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-extras {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 20px 0px;
  color: #888;
  border-bottom: 1px solid #cccccc;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-extras {
  overflow-x: hidden;
}
/* line 93, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-extras img {
  vertical-align: middle;
}
/* line 97, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-extras .pc-depot-extras-label {
  display: inline-block;
  width: 72px;
}
/* line 101, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-extras .pc-depot-extras-left {
  float: left;
  width: 60%;
}
/* line 105, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-extras .pc-depot-extras-right {
  float: right;
  font-size: 0.7em;
  line-height: 16px;
  width: 30%;
}

/* line 113, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin: 10px 0px 5px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-navigation {
  overflow-x: hidden;
}
/* line 89, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation ul {
  list-style-type: none;
}
/* line 91, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation ul li {
  display: inline;
  margin: 0px;
}
/* line 97, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation a {
  text-decoration: none;
}
/* line 101, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation a:hover {
  text-decoration: underline;
}

/* line 119, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation ul li {
  display: inline-block;
  border: 1px #8d96ac solid;
  background-color: #e6e8ed;
  width: 16%;
}

/* line 123, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation img {
  vertical-align: middle;
  padding: 2px;
  margin: 0px;
}

/* line 129, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation .pc-current {
  color: black;
  background-color: #f2f3f6;
  border-color: #c0c6d6;
}

/* line 135, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
#depot-control {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #depot-control {
  overflow-x: hidden;
}

/* line 139, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer {
  background-color: #8d96ac;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  height: 930px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer {
  overflow-x: hidden;
}
/* line 24, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer h2 {
  color: white;
  padding: 10px;
}
/* line 29, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer h2 a {
  color: white;
}
/* line 33, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer h3 {
  padding-bottom: 10px;
}
/* line 37, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner {
  width: 98%;
  height: 875px;
  background-color: #FFF;
  margin: 0px auto;
  overflow-y: auto;
}
/* line 44, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-edit-form {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
  border: none;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-edit-form {
  overflow-x: hidden;
}
/* line 49, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-code-repository {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-code-repository {
  overflow-x: hidden;
}
/* line 53, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-collaborators {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-collaborators {
  overflow-x: hidden;
}
/* line 57, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-delete-depot {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-delete-depot {
  overflow-x: hidden;
}
/* line 62, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-navigation ul {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-navigation ul {
  overflow-x: hidden;
}
/* line 66, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-navigation li {
  display: inline-block;
  border: 1px #8d96ac solid;
  background-color: #e6e8ed;
  width: 16%;
  display: block;
  padding: 3px;
}
/* line 73, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner hr.pc-spacer {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 143, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
#fileupload {
  font-size: 13px;
}

/* Hide the fileupload start/delete buttons we don't want to support them, but the have to be there as the javascript calls them'*/
/* line 147, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.fileupload-content .start {
  display: none;
}

/* line 3, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_listview.scss */
.pc-listview {
  background-color: #8d96ac;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  height: 580px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-listview {
  overflow-x: hidden;
}
/* line 24, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview h2 {
  color: white;
  padding: 10px;
}
/* line 29, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview h2 a {
  color: white;
}
/* line 33, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview h3 {
  padding-bottom: 10px;
}
/* line 37, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner {
  width: 98%;
  height: 525px;
  background-color: #FFF;
  margin: 0px auto;
  overflow-y: auto;
}
/* line 44, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner .pc-depot-control-edit-form {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
  border: none;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-listview .pc-depot-control-inner .pc-depot-control-edit-form {
  overflow-x: hidden;
}
/* line 49, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner .pc-depot-code-repository {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-listview .pc-depot-control-inner .pc-depot-code-repository {
  overflow-x: hidden;
}
/* line 53, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner .pc-depot-control-collaborators {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-listview .pc-depot-control-inner .pc-depot-control-collaborators {
  overflow-x: hidden;
}
/* line 57, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner .pc-depot-control-delete-depot {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-listview .pc-depot-control-inner .pc-depot-control-delete-depot {
  overflow-x: hidden;
}
/* line 62, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner .pc-depot-control-navigation ul {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-listview .pc-depot-control-inner .pc-depot-control-navigation ul {
  overflow-x: hidden;
}
/* line 66, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner .pc-depot-control-navigation li {
  display: inline-block;
  border: 1px #8d96ac solid;
  background-color: #e6e8ed;
  width: 16%;
  display: block;
  padding: 3px;
}
/* line 73, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-listview .pc-depot-control-inner hr.pc-spacer {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 6, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_listview.scss */
.pc-listview table {
  background-color: white;
  width: 100%;
  font-size: 0.8em;
}
/* line 12, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_listview.scss */
.pc-listview tr {
  height: 26px;
  border-bottom: solid;
  border-bottom-color: #cccccc;
  border-bottom-width: 1px;
}
/* line 19, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_listview.scss */
.pc-listview tr:hover {
  background-color: #e6e8ed;
}
/* line 23, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_listview.scss */
.pc-listview td {
  padding-left: 5px;
  vertical-align: middle;
}
/* line 28, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_listview.scss */
.pc-listview .pc-listview-column-wide {
  width: 30%;
}

/*
.pc-listview-date-column {
    width: 30%;
}

.pc-listview-list-column {
    width: 30%;
    color: red;
}

.pc-listview-buttons-column {
    width: 10%;
}
.pc-listview-title {
    padding-left: 36px;
}

.pc-listview-item span {
    display: block;
    padding-top: 2px;
}

.pc-listview-item a {
    color: #000;
}

.pc-listview-item.goog-control-hover {
    background-color: $table-highlight-color;
}
*/
