/* line 1, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.4;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #E6E8ED;
  padding: 4px 4px 4px 4px;
  height: 22px;
  width: 400px;
  border-bottom-right-radius: 5px;
}

/* line 15, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar ul {
  display: inline;
}

/* line 19, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar li {
  display: inline;
  list-style-type: none;
  border-left: 1px solid gray;
  padding: 2px 4px 2px 4px;
}

/* line 26, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar .navigation-logo {
  display: inline;
}

/* line 30, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar .navigation-logo a {
  color: #777;
}

/* line 34, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar .navigation-logo a:hover {
  color: #777;
  text-decoration: underline;
}

/* line 39, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar a {
  color: #000;
  text-decoration: none;
}

/* line 44, ../../../../designer/manos/manos/public/style/src/navigationbar.scss */
.navigation-bar a:hover {
  color: #000;
  text-decoration: underline;
}
