/* Colours */
/* Links */
/* Mixins */
/* line 3, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
html, body {
  height: 100%;
}

/* line 7, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
body {
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  color: #555555;
  line-height: 1.1;
}

/* line 11, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid #8d96ac;
}

/* line 18, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 24, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 30, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
h4 {
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 35, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 40, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
ul {
  list-style: disc outside none;
}
/* line 42, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
ul li {
  margin-left: 20px;
}

/* line 47, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
#page-container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 52, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
a {
  color: #6379a8;
  text-decoration: none;
}

/* line 57, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
a:hover {
  text-decoration: underline;
}

/*
@mixin square-button {
  height: 24px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 0px;
}
*/
/* line 70, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-small {
  font-size: 0.6em;
}

/* line 74, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-clear {
  clear: both;
}

/* line 78, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-left {
  float: left;
  padding-right: 20px;
}

/* line 83, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-right {
  float: right;
  padding-left: 20px;
}

/* line 88, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-text-block {
  margin: 20px 0px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-text-block {
  overflow-x: hidden;
}

/* line 93, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-centred-container {
  width: 800px;
  margin: 25px auto;
}

/* line 99, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_common.scss */
.pc-hidden {
  display: none;
}

/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_header.scss */
#header {
  background-color: #2a2a2a;
  color: white;
  padding: 10px;
  height: 40px;
  border-bottom: 5px solid #e64e27;
}

/* line 10, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_header.scss */
#header h1 {
  font-size: 2.5em;
  padding-bottom: 0px;
}

/* line 14, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_header.scss */
#header h2 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-text-block {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-text-block {
  overflow-x: hidden;
}
/* line 5, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-text-block ul {
  margin: 10px 0px;
}

/* line 10, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-frontpage {
  padding-top: 60px;
}

/* line 14, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-left-bias-left-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  margin: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-left-bias-left-column {
  overflow-x: hidden;
}

/* line 19, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-left-bias-right-column {
  padding-left: 80px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  margin: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-left-bias-right-column {
  overflow-x: hidden;
}

/* line 25, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-right-bias-right-column {
  padding-left: 80px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  margin: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-right-bias-right-column {
  overflow-x: hidden;
}

/* line 31, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-right-bias-left-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-right-bias-left-column {
  overflow-x: hidden;
}

/* line 36, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_text.scss */
.pc-spacer {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
  margin: 0px;
}

/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar {
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.4;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #e6e8ed;
  padding: 4px 4px 4px 4px;
  height: 22px;
  width: 400px;
  border-bottom-left-radius: 5px;
}
/* line 89, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.account-bar ul {
  list-style-type: none;
}
/* line 91, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.account-bar ul li {
  display: inline;
  margin: 0px;
}
/* line 97, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.account-bar a {
  text-decoration: none;
}
/* line 101, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.account-bar a:hover {
  text-decoration: underline;
}

/* line 17, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar .avatar-name {
  display: inline;
}

/* line 21, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar .avatar-spacer {
  display: inline;
  width: 20px;
}

/* line 26, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar .avatar-name img {
  vertical-align: middle;
  border: 1px solid white;
}

/* line 31, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar a {
  color: #222222;
  text-decoration: none;
}

/* line 36, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar a:hover {
  text-decoration: underline;
}

/* line 40, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar ul {
  display: inline;
}

/* line 44, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar ul li {
  display: inline;
  list-style-type: none;
  border-left: 1px solid gray;
  padding: 2px 4px 2px 4px;
}

/* line 51, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

/* line 58, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_accountbar.scss */
.account-bar iframe {
  height: 26px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 5px;
}

/* line 3, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-user-details-box {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 10px;
  padding: 20px 0px;
  border-bottom: 2px solid #cccccc;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-user-details-box {
  overflow-x: hidden;
}

/* line 10, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-user-details-box h1 {
  display: inline;
  padding: 0px;
  padding-right: 5px;
  border: none;
}

/* line 17, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-user-details-box h2 {
  display: inline;
  font-size: 1.6em;
  color: #8d96ac;
}

/* line 23, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-user-details-box img {
  float: left;
  border: 3px double #cccccc;
  margin: 5px;
  height: 96px;
  width: 96px;
}

/* line 31, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-user-details-box a {
  font-size: 0.6em;
}

/* line 35, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-user-extras {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 20px 0px;
  font-size: 0.7em;
  color: #888888;
  border-bottom: 2px solid #cccccc;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-user-extras {
  overflow-x: hidden;
}

/* line 43, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  padding: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depots {
  overflow-x: hidden;
}
/* line 47, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots h2 {
  display: inline-block;
  width: 95%;
  padding-bottom: 20px;
}
/* line 53, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots .pc-depots-buttons {
  display: inline;
}
/* line 57, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table {
  border-top: 2px solid #cccccc;
  width: 100%;
}
/* line 61, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table th {
  text-align: left;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #eee;
  padding: 2px;
  border-left: 1px solid #cccccc;
}
/* line 73, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table td.pc-depot-list-item {
  padding: 5px 0px;
  font-size: 0.9em;
}
/* line 78, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table td.pc-depot-list-minor-item {
  font-size: 0.8em;
}
/* line 82, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table td.pc-depot-list-hidden {
  display: none;
}
/* line 86, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table td.pc-depot-list-img {
  width: 16px;
  display: inline;
  margin: 0px;
}
/* line 92, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table .pc-depot-list-secondary-row {
  border-bottom: 1px solid #cccccc;
}
/* line 94, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-depots table .pc-depot-list-secondary-row td {
  width: auto;
}

/* line 105, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-activities {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -80px 1.5em 80px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
  padding: 20px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-activities {
  overflow-x: hidden;
}
/* line 110, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_profile.scss */
.pc-activities table {
  border-top: 2px solid #cccccc;
  width: 100%;
}

/* Account Settings pages */
/* line 31, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  font-size: 14px;
  margin-top: 30px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html aside navigation {
  overflow-x: hidden;
}
/* line 36, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation li {
  list-style-type: none;
  margin: 0px 0px;
  padding: 5px 5px 5px 5px;
}
/* line 42, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-home {
  border-top: 1px solid white;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  padding: 5px 0px 5px 5px;
  background-color: #e2e2e2;
}
/* line 48, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-topic {
  border-top: 1px solid white;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  padding: 5px 0px 5px 5px;
  background-color: #e2e2e2;
}
/* line 54, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-subtopic {
  border-top: 1px solid white;
  border-bottom: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  padding: 5px 0px 5px 15px;
  background-color: #fbfbfb;
}
/* line 60, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-home:hover, aside navigation .pc-topic:hover, aside navigation .pc-subtopic:hover {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #969696;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
  background-color: #afafaf;
}
/* line 64, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-current {
  background-color: #c9c9c9;
}
/* line 67, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-current a {
  color: black;
}
/* line 70, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-current a:hover {
  text-decoration: none;
}
/* line 75, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_navigation.scss */
aside navigation .pc-current:hover {
  background-color: #afafaf;
}

/* line 4, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_account.scss */
.pc-account {
  padding-top: 10px;
}

/* line 8, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_account.scss */
.pc-account-edit-menu {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-account-edit-menu {
  overflow-x: hidden;
}
/* line 11, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_account.scss */
.pc-account-edit-menu ul {
  list-style-type: none;
}
/* line 15, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_account.scss */
.pc-account-edit-menu ul li {
  margin: 0px;
}

/* line 20, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_account.scss */
.pc-account-edit-tabs {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
  margin-top: 30px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-account-edit-tabs {
  overflow-x: hidden;
}

/* line 21, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
#depot-control {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #depot-control {
  overflow-x: hidden;
}

/* line 25, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer {
  background-color: #8d96ac;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  height: 930px;
  /* For control inner bodies which don't have a height defined by the inner table
     like code and settings 
  */
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer {
  overflow-x: hidden;
}
/* line 30, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer h2 a {
  color: white;
}
/* line 34, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer h3 {
  padding-bottom: 10px;
}
/* line 38, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-header {
  padding-left: 12px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 926px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-header {
  overflow-x: hidden;
}
/* line 45, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-header h2 {
  color: white;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 690px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-header h2 {
  overflow-x: hidden;
}
/* line 50, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-header .pc-depot-control-buttons {
  display: inline;
  float: left;
  margin-right: 0;
  width: 210px;
  float: right;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-header .pc-depot-control-buttons {
  overflow-x: hidden;
}
/* line 59, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-fixed-inner {
  height: 870px;
}
/* line 63, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -12px 1.5em 12px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 926px;
  background-color: #FFF;
  height: 90%;
  /*width: 98%;
  margin: 0px auto;    
  */
  overflow-y: auto;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner {
  overflow-x: hidden;
}
/* line 78, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-section-first {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -160px 1.5em 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 830px;
  border: none;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-section-first {
  overflow-x: hidden;
}
/* line 86, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-section {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -200px 1.5em 200px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin-top: 30px;
  margin-bottom: 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-section {
  overflow-x: hidden;
}
/* line 94, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-navigation ul {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-navigation ul {
  overflow-x: hidden;
}
/* line 98, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-depot-control-navigation li {
  display: inline-block;
  border: 1px #8d96ac solid;
  background-color: #e6e8ed;
  width: 16%;
  display: block;
  padding: 3px;
}
/* line 106, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-collaborators-table {
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 20px;
}
/* line 111, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-collaborators-table tr {
  border-bottom: 1px solid #ccc;
}
/* line 115, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner .pc-collaborators-table td {
  width: 33%;
  text-align: right;
}
/* line 121, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-control-outer .pc-depot-control-inner hr.pc-spacer {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 127, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid #cccccc;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-header {
  overflow-x: hidden;
}
/* line 133, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-image-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  display: none;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-header .pc-depot-header-image-column {
  overflow-x: hidden;
}
/* line 138, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-details-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-header .pc-depot-header-details-column {
  overflow-x: hidden;
}
/* line 141, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-details-column .pc-depot-header-fork-source {
  font-size: 0.7em;
  color: #999;
}
/* line 146, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-details-column .pc-depot-header-description {
  height: 83px;
}
/* line 150, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-details-column .pc-depot-header-controls {
  position: relative;
  bottom: 0px;
}
/* line 156, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-extras-column {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -20px 1.5em 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
  color: #888;
  font-size: 0.7em;
  line-height: 16px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-header .pc-depot-header-extras-column {
  overflow-x: hidden;
}
/* line 164, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-extras-column img {
  vertical-align: middle;
}
/* line 168, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-header .pc-depot-header-extras-column .pc-depot-extras-label {
  display: inline-block;
  width: 72px;
}

/* line 175, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin: 10px 0px 5px 0px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-depot-navigation {
  overflow-x: hidden;
}
/* line 89, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation ul {
  list-style-type: none;
}
/* line 91, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation ul li {
  display: inline;
  margin: 0px;
}
/* line 97, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation a {
  text-decoration: none;
}
/* line 101, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-depot-navigation a:hover {
  text-decoration: underline;
}
/* line 180, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation ul li {
  display: inline-block;
  border: 1px #8d96ac solid;
  background-color: #e6e8ed;
  width: 16%;
}
/* line 184, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation img {
  vertical-align: middle;
  padding: 2px;
  margin: 0px;
}
/* line 190, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation .pc-current {
  color: black;
  background-color: #f2f3f6;
  border-color: #c0c6d6;
}
/* line 194, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-depot-navigation .pc-current a {
  color: black;
}

/* line 200, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-form-page {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding-top: 20px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-form-page {
  overflow-x: hidden;
}
/* line 205, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-form-page .pc-form-page-main-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-form-page .pc-form-page-main-column {
  overflow-x: hidden;
}
/* line 209, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-form-page .pc-form-page-aside {
  padding-left: 160px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-form-page .pc-form-page-aside {
  overflow-x: hidden;
}
/* line 213, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-form-page .pc-form-page-aside p {
  font-size: 0.9em;
  color: #999;
}

/* line 220, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.pc-instruction-aside {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-instruction-aside a {
  color: #514721;
}

/* line 224, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
#fileupload {
  font-size: 13px;
}

/* Hide the fileupload start/delete buttons we don't want to support them, but the have to be there as the javascript calls them'*/
/* line 228, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_depot.scss */
.fileupload-content .start {
  display: none;
}

/* line 3, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-notifications {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  margin-top: 20px;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-notifications a {
  color: #8a1f11;
}
/* line 6, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-notifications img {
  vertical-align: middle;
  padding: 4px;
}
/* line 11, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-notifications .pc-notifications-close {
  float: right;
}

/* line 20, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-notice-message {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
  margin-top: 20px;
}
/* line 36, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-notice-message a {
  color: #514721;
}

/* line 25, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-success-message {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
  margin-top: 20px;
}
/* line 45, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-success-message a {
  color: #264409;
}

/* line 30, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-error-message {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  margin-top: 20px;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-error-message a {
  color: #8a1f11;
}

/* line 35, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_notifications.scss */
.pc-info-message {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
  margin-top: 20px;
}
/* line 36, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-info-message a {
  color: #514721;
}

/* line 10, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main #pc-push {
  height: 40px;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#designer-footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 5, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_footer.scss */
footer {
  border-top: thin solid #888888;
  font-size: 0.8em;
  color: #888888;
  width: 100%;
}
/* line 11, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_footer.scss */
footer div {
  width: 60%;
  margin: 10px auto;
}
/* line 16, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_footer.scss */
footer img {
  vertical-align: middle;
  padding-right: 2px;
}
/* line 21, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_footer.scss */
footer a {
  color: #555555;
}

/* line 26, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_footer.scss */
#main {
  margin-bottom: -41px;
}

/* line 30, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_footer.scss */
.pc-push {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  height: 40px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-push {
  overflow-x: hidden;
}

/* line 14, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 510px;
}
/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form label {
  font-weight: bold;
}
/* line 19, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form input.text, .pc-standard-form input.title, .pc-standard-form input[type=email], .pc-standard-form input[type=text], .pc-standard-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form input.title {
  font-size: 1.5em;
}
/* line 29, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form select {
  margin: 0.5em 0;
}
/* line 55, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form input.text, .pc-standard-form input.title, .pc-standard-form input[type=email], .pc-standard-form input[type=text], .pc-standard-form input[type=password], .pc-standard-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form input.text:focus, .pc-standard-form input.title:focus, .pc-standard-form input[type=email]:focus, .pc-standard-form input[type=text]:focus, .pc-standard-form input[type=password]:focus, .pc-standard-form textarea:focus {
  border-color: #666666;
}
/* line 65, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form input.text, .pc-standard-form input.title, .pc-standard-form input[type=email], .pc-standard-form input[type=text], .pc-standard-form input[type=password] {
  width: 300px;
}
/* line 46, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form textarea {
  width: 390px;
  height: 250px;
}
/* line 44, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form input.text, .pc-standard-form input.title, .pc-standard-form input[type=email], .pc-standard-form input[type=text], .pc-standard-form input[type=password] {
  width: 310px;
}
/* line 46, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-standard-form textarea {
  width: 310px;
  height: 100px;
}
/* line 147, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .pc-standard-form {
  overflow-x: hidden;
}
/* line 19, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-row {
  width: 100%;
  display: block;
}
/* line 24, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-row label {
  width: 150px;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  position: relative;
  top: 8px;
}
/* line 33, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-flat-row label {
  display: inline;
}
/* line 38, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-icon-row label {
  display: inline;
}
/* line 41, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-icon-row img {
  vertical-align: middle;
}
/* line 46, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-boolean-row {
  border: 1px solid #bbb;
  margin-right: 0;
  display: block;
  width: 469px;
  padding-left: 6px;
}
/* line 54, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form select {
  width: 322px;
  padding: 5px;
}
/* line 59, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-extra {
  font-size: 0.8em;
  color: #888888;
}
/* line 64, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-text {
  font-size: 12px;
  padding: 6px 0px;
}
/* line 70, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
  font-size: 12px;
  width: 454px;
  display: inline-block;
}
/* line 54, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-standard-form .pc-form-info a {
  color: #205791;
}
/* line 75, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-info a {
  color: black;
}
/* line 80, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  font-size: 12px;
  width: 460px;
  display: inline-block;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-standard-form .pc-form-error a {
  color: #8a1f11;
}
/* line 85, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-error a {
  color: black;
}
/* line 90, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .pc-form-image-button {
  display: inline-block;
  background-repeat: no-repeat;
}
/* line 95, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form .error-message {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
  display: block;
  font-size: 0.8em;
  padding: 4px;
  margin: 0px;
  width: 310px;
  margin-left: 155px;
  color: red;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.pc-standard-form .error-message a {
  color: #8a1f11;
}
/* line 106, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form button.pc-button {
  width: 120px;
  float: right;
  margin-right: 33px;
}
/* line 112, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-standard-form input[type='checkbox'] {
  margin-top: 12px;
}

/* line 117, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-button {
  height: 24px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 0px;
}

/* line 125, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-spacey-form .pc-form-row {
  margin-top: 20px;
}
/* line 129, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_forms.scss */
.pc-spacey-form .pc-form-boolean-row {
  margin-top: 20px;
}

/* line 18, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form label {
  font-weight: bold;
}
/* line 19, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form input.text, .pc-create-asset-form input.title, .pc-create-asset-form input[type=email], .pc-create-asset-form input[type=text], .pc-create-asset-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form input.title {
  font-size: 1.5em;
}
/* line 29, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form select {
  margin: 0.5em 0;
}
/* line 55, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form input.text, .pc-create-asset-form input.title, .pc-create-asset-form input[type=email], .pc-create-asset-form input[type=text], .pc-create-asset-form input[type=password], .pc-create-asset-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form input.text:focus, .pc-create-asset-form input.title:focus, .pc-create-asset-form input[type=email]:focus, .pc-create-asset-form input[type=text]:focus, .pc-create-asset-form input[type=password]:focus, .pc-create-asset-form textarea:focus {
  border-color: #666666;
}
/* line 65, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form input.text, .pc-create-asset-form input.title, .pc-create-asset-form input[type=email], .pc-create-asset-form input[type=text], .pc-create-asset-form input[type=password] {
  width: 300px;
}
/* line 46, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form textarea {
  width: 390px;
  height: 250px;
}
/* line 44, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form input.text, .pc-create-asset-form input.title, .pc-create-asset-form input[type=email], .pc-create-asset-form input[type=text], .pc-create-asset-form input[type=password] {
  width: 310px;
}
/* line 46, /Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
.pc-create-asset-form textarea {
  width: 310px;
  height: 100px;
}

/* line 2, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_tables.scss */
.pc-standard-table {
  margin-top: 20px;
}

/* line 6, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_tables.scss */
.pc-standard-table th {
  font-weight: bold;
  border-bottom: 1px solid #8d96ac;
}

/* line 11, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_tables.scss */
.pc-standard-table td {
  padding: 10px;
}

/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_credits.scss */
.pc-credits {
  width: 800px;
  margin: 40px auto;
}

/* line 6, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_credits.scss */
.pc-credits h1 {
  padding-bottom: 20px;
  font-size: 2em;
}

/* line 11, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_credits.scss */
.pc-credits p {
  margin-top: 20px;
}

/* line 15, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_credits.scss */
.pc-credits-list li {
  margin: 20px;
}

/* line 19, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_credits.scss */
.pc-credits-list .pc-image-wrapper {
  width: 128px;
  display: inline-block;
}

/* line 24, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_credits.scss */
.pc-credits-list .pc-image-wrapper img {
  height: 64px;
  vertical-align: middle;
}

/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_frontpage.scss */
#frontpage-content {
  width: 700px;
  margin: 0px auto;
}

/* line 89, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-admin-navigation ul {
  list-style-type: none;
}
/* line 91, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-admin-navigation ul li {
  display: inline;
  margin: 0px;
}
/* line 97, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-admin-navigation a {
  text-decoration: none;
}
/* line 101, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_base.scss */
.pc-admin-navigation a:hover {
  text-decoration: underline;
}

/* line 1, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_error.scss */
.pc-centred-container img {
  display: block;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

/* line 9, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_error.scss */
.pc-error-logo {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
}

/* line 14, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_error.scss */
.pc-wonky {
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(33deg);
  -moz-transform-origin: left top;
  -moz-transform: rotate(33deg);
}

/* line 21, /Users/dave/Projects/playcanvas/designer/manos/manos/public/style/src/_error.scss */
.pc-centred-container h1 {
  border: none;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}
