$playcanvas-orange: #F16524;
$playcanvas-orange-light: #E27A30;
$playcanvas-orange-dark: #D24D0D;

$playcanvas-bg: #324447;
$playcanvas-bg-bright: #5B7073;
$playcanvas-bg-dark: #263538;

$text-color: #324447;
$light-text-color: #5b7073;
$header-text-color: rgba(255, 255, 255, 0.75);;
$header-text-highlight: rgba(255, 255, 255, 0.75);

$navbar-background-color: #f1f1ef;
$navbar-border-color: #e6e6e6;
$navbar-text-color: $light-text-color;
$navbar-active-background-color: #fff;
$navbar-active-text-color: $text-color;

$sidebar-text-color: $light-text-color;
$sidebar-rollover-text-color: $text-color;
$sidebar-active-text-color: $text-color;
$sidebar-border-color: $sidebar-text-color;

$main-text-color: $text-color;
