$playcanvas-orange: #F16524;
$playcanvas-orange-light: #E27A30;
$playcanvas-orange-dark: #D24D0D;

$playcanvas-bg: #324447;
$playcanvas-bg-bright: #5B7073;
$playcanvas-bg-dark: #263538;

$text-color: #324447;
$light-text-color: #5b7073;
$header-text-color: rgba(255, 255, 255, 0.75);;
$header-text-highlight: rgba(255, 255, 255, 0.75);

// $content-width: 937px;

$navbar-background-color: #f4f4f4;
$navbar-border-color: #ddd;
$navbar-text-color: $light-text-color;
$navbar-active-text-colorl: #8a8a8a;
$navbar-active-background-color: #fff;
$navbar-active-text-color: $text-color;

$contents-text-color: $navbar-text-color;
$contents-active-text-color: $text-color;
$contents-border-color: $contents-text-color;

$main-text-color: $text-color;
