$playcanvas-orange: #F16524;
$playcanvas-orange-light: #E27A30;
$playcanvas-orange-dark: #D24D0D;

$playcanvas-bg: #324447;
$playcanvas-bg-bright: #5B7073;
$playcanvas-bg-dark: #263538;

$text-color: #333;

$header-text-color: #eee;
$header-text-highlight: #fff;

// $content-width: 937px;

$navbar-background-color: #f4f4f4;
$navbar-border-color: #ddd;
$navbar-text-color: #8a8a8a;
$navbar-active-background-color: #fff;
$navbar-active-text-color: $text-color;

$contents-text-color: $navbar-text-color;
$contents-active-text-color: $text-color;
$contents-border-color: $contents-text-color;

$main-text-color: $text-color;
