/* Shared or library imports */
@import "variables";
@import "bootstrap";
@import "base";
@import "common";

/* All Devices */
@media (min-width: 0px) {

    h1 {
        font-size: 30px;
        color: $playcanvas-orange;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    body {
        @include font-thin();
        color: #4A5D60;
        font-size: 18px;
        line-height: 30px;
    }

    p {
        margin-bottom: 30px;
    }

    #page-container {
        margin-top: 20px;
    }

    #page-content {
        margin-top: 5px;
    }

    .nav {
        h5 {
            @include font-light();
        }

        ul {
            list-style: none;
            padding-left: 20px;
        }

        a {
            color: #4A5D60;
            font-size: 18px;
        }
    }

    .nav-tabs {
        li {
            display: inline-block;
            float: none;
            width: 20%;
        }
    }

    iframe {
        width: 80%;
        height: 480px;
        border: none;
    }

    pre code {
        font-size: 12px;
    }

    .table {
        font-size: 16px;

        th {

        }
    }
}

/* Extra small: (phones, 480px and up) */
@media (min-width: $screen-xs-min) {
}

/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
