/* Shared or library imports */
@import "variables";
@import "bootstrap";
@import "base";
@import "common";

/* All Devices */
@media (min-width: 0px) {

    h1 {
        font-size: 30px;
        color: $playcanvas-orange;
    }

    h2 {
        font-size: 24px;
        margin-top: 20px;
        color: $playcanvas-orange;
    }

    h3 {
        margin-top: 30px;
        font-size: 18px;
    }

    h4 {
        //@include font-bold();
        font-size: 16px;
    }

    body {
        @include font-light();
        color: #4A5D60;
        font-size: 18px;
        line-height: 30px;
    }

    p {
        margin-bottom: 30px;
    }

    code {
        font-size: 15px;
        // $code-color:                    $playcanvas-orange;
        // $code-bg:                       #f9f2f4;
    }

    #page-container {
        margin-top: 20px;
    }

    #page-content {
        margin-top: 5px;
    }

    #sidebar.nav {
        h5 {
            @include font-light();
        }

        ul {
            list-style: none;
            padding-left: 20px;

            li {
                // border-top: 1px solid $nav-tabs-border-color;
                // border-bottom: 1px solid $nav-tabs-border-color;
                // padding-top: 5px;
                // padding-bottom: 5px;
            }
        }

        a {
            color: #4A5D60;
            font-size: 18px;
        }

        .current {
            color: $playcanvas-orange;
        }
    }

    .nav-tabs {
        li {
            display: inline-block;
            float: none;
            width: 20%;
        }
    }

    iframe {
        width: 640px;
        height: 480px;
        border: none;
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }

    pre code {
        font-size: 12px;
    }

    .table {
        font-size: 14px;

        th {
            @include font-bold();
            font-size: 16px;

        }

        .table-bordered {
            th {
                border-radius: 0px !important;
            }
        }

        .property-name {
            width: 20%;
        }

        td:first-child {
            @include font-bold();
        }
    }

    .alert {
        font-size: 85%;
    }

    body {
        .gsc-inline-block {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        div {
            .gsc-control-cse {
                line-height: normal;


                table {
                    border-collapse: separate;
                }
            }
        }
    }

    .site-search {
        padding-bottom: 20px;
    }

    .api-reference {
        navigation ul {
            font-size: 14px;
        }

        #left-column .nav > li > a {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        h4 {
            @include font-bold();
            font-family: monospace;
            font-size: 16px;
            margin-bottom: 0px;
        }

        p {
            font-size: 14px;
        }

        .code {
            font-family: monospace !important;
        }

        pre.code {
            font-size: 12px;
        }

        .table {
            border: 1px solid #ddd;
            border-radius: 0px;

            th, tr, td {
                border-radius: 0px !important;
            }

            th {
                border: none;
                border-right: 1px solid #ddd;
            }

            td {
                border: none;
                border-top: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }

            td:first-child {
                border-right: none;
                border-left: none;
            }

            td:last-child {
                border-right: none;
                border-left: none;
            }

        }
    }
}

/* Extra small: (phones, 480px and up) */
@media (min-width: $screen-xs-min) {
}

/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: $screen-sm-min) {
    .navbar-dashboard {
        li {
            a {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
