@import "variables";
@import "fonts";

@media (min-width: 0px) {
    body {
        @include font-regular();

        padding: 0;
        margin: 0;

        color: $text-color;
        font-size: 16px;
        line-height: 30px;
    }

    h1 {
        @include font-bold();
        font-size: 20px;
    }

    h2 {
        @include font-bold();
        font-size: 18px;
    }

    a {
        color: $text-color;
        text-decoration: none;
    }

    table {
        border-collapse: collapse;

        th {
            @include font-bold();
            border: 1px solid $table-border-color;
            padding: 5px;
        }

        td {
            border: 1px solid $table-border-color;
            padding: 5px;
        }
    }

    ul {
        li {

        }
    }

    .content-width {
        width: 100%;
    }

    header {
        width: 100%;

        background-image: url(/images/common/BANNER_STRIPS1_Orange.png);
        background-position: center;
        color: $header-text-color;

        a {
            color: rgba(255, 255, 255, 0.75);
            &:hover {
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
            }
        }

        .header-title {
            display: inline-block;

            h1 {
                @include font-regular();
                font-size: 22px;
                margin: 18px 0px;
            }
        }

        nav {
            @include font-thin();
            margin: auto;
            font-size: 16px;
        }

        ul {
            float: right;
            list-style-type: none;
            margin: 22px 0px;
            padding: 0;

            li {
                display: inline;
                padding: 10px 0px;
                margin: auto 30px;
            }

            li.active {
                border-bottom: 2px solid $header-text-highlight;
                a {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        .header-mobile-icon {
            display: none;
        }

        .header-content {
            clear: both;
            margin: auto;
            padding: 20px 0px;

            h1 {
                font-size: 24px;
            }

            img {
                padding: 30px;
                margin: auto;
            }

            p {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
        }

        .header-page {
            h1 {
                display: inline-block;
            }

            .search {
                float: right;
                margin: 0;
                margin-top: 10px;
            }
        }

        .header-front-page {
            text-align: center;
        }

    }

    .search-icon:before {
        font-size: 26px;
        position: relative;
        right: 70px;
        top: 3px;
        content: "\E333";
    }

    input.search {
        height: 32px;
        width: 30%;
        margin: 25px;
        padding: 5px 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid rgba(255, 255, 255, 0.5);

        color: $header-text-color;
        font-size: 14px;

        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
        &::-moz-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
        &::input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        &:focus {
            outline: 0;
            border-color: rgba(255,255,255,1);
        }
    }

    nav.regular {
        background-color: $navbar-background-color;
        border-top: 1px solid $navbar-background-color;
        border-bottom: 1px solid $navbar-border-color;
        font-size: 14px;

        ul {
            $nav-height: 52px;

            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            height: $nav-height;

            > li {
                float: left;
                border-left: 1px solid $navbar-border-color;

                &:last-child {
                    border-right: 1px solid $navbar-border-color;
                }

                &.active {
                    background-color: $navbar-active-background-color;
                    border-bottom: 1px solid $navbar-active-background-color;

                    > a {
                        color: $navbar-active-text-color;
                    }
                }

                > a {
                    display: block;
                    color: $navbar-text-color;
                    height: $nav-height;
                    line-height: $nav-height;
                    padding: 0 16px;
                }
            }
        }

        usermanual-navbar {
            float: right;
        }
    }


    nav.intro {
        background-color: $navbar-background-color;
        border-top: 1px solid $navbar-background-color;
        border-bottom: 1px solid $navbar-border-color;
        font-size: 14px;

        ul {
            $nav-height: 170px;
            list-style-type: none;
            margin: 0 auto;
            height: $nav-height;
            padding: 0;
            width: 100%;

            > li {
                float: left;
                width: calc(25% - 4px);
                padding: 0;
                vertical-align: middle;
                text-align: center;
                border-left: 1px solid $navbar-border-color;

                > a {
                    display: block;
                    color: $navbar-text-color;
                    height: $nav-height;
                    padding: 0 0px;


                    &:hover > span {
                        color: $playcanvas-orange;
                    }

                    > span {
                        display: block;
                        padding-top: 30px;

                    }

                    > p {
                        margin: 0;
                    }
                }

                // &:last-child {
                //     border-right: 1px solid $navbar-border-color;
                // }
            }

        }

        span {
            font-size: 64px;
        }

        .video-icon:after {
            content: "\E275";
            @include font-icon();
        }

        .manual-icon:after {
            content: "\E222";
            @include font-icon();
        }

        .tutorials-icon:after {
            content: "\E212";
            @include font-icon();
        }

        .api-icon:after {
            content: "\E286";
            @include font-icon();
        }
    }

    .container {
        margin: auto;

        nav {
            line-height: 24px;
        }

        nav.tutorial {
            float: left;
            width: calc(20% - 40px);
            padding: 27px 10px;
            font-size: 16px;
            color: $sidebar-text-color;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                > li {
                    padding: 10px 0px;

                    > ul > li {
                        > a {
                            color: $sidebar-text-color;
                        }

                        &:hover {
                            &:before {
                                content: "\E113";
                                @include font-icon();
                                margin-left: -16px;
                                margin-top: -2px;
                                position: absolute;
                            }

                            > a {
                                color: $sidebar-rollover-text-color;
                            }

                        }

                        &.active {
                            > a {
                                color: $sidebar-active-text-color;
                            }

                            &:before {
                                color: $playcanvas-orange;
                                content: "\E113";
                                @include font-icon();
                                margin-left: -16px;
                                margin-top: -2px;
                                position: absolute;
                            }
                        }
                    }
                }

                &.level {
                    display: none;
                }

            }
        }

        nav.usermanual {
            float: left;
            width: 100%;
            padding: 27px 0px;
            font-size: 16px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                margin-top: 3px;

                .expander {
                    float: left;
                    margin-left: -24px;

                    &.hidden {
                        display: none;
                    }

                    &.open {
                        margin-top: -2px;
                        .expander-icon {
                            transform: rotate(90deg);
                            display: block;

                            > a {
                                color: $playcanvas-orange;
                            }
                        }
                    }

                    &.closed {
                        .expander-icon {
                            transform: rotate(0deg);
                            display: block;
                        }
                    }

                }

                li {
                    padding: 5px 0px;

                    &.parent {
                        &:before {
                            content: "\E113";
                            @include font-icon();
                        }
                    }

                    &.closed > ul {
                        display: none;
                    }

                    &.open > ul {
                        display: block;
                    }

                    & li {
                        padding: 5px 15px;
                    }

                    > a {
                        color: $sidebar-text-color;

                        &.current {
                            color: $playcanvas-orange;
                        }
                    }

                }


            }

        }

        main {
            float: left;
            width: 640px;
            padding: 20px 0px;
            padding-left: 30px;
            color: $main-text-color;

            h1 {
                @include font-bold();
                font-size: 18px;
            }
            h2 {
                @include font-bold();
                font-size: 16px;
            }
            h3 {
                @include font-bold();
                font-size: 14px;
            }
            h4 {
                @include font-bold();
                font-size: 12px;
            }
            h5 {
                @include font-bold();
                font-size: 10px;
            }

            a {
                color: $main-text-color;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 640px;
            }

            iframe {
                width: 640px;
                height: 480px;
                max-width: 100%;
                border: none;
            }
        }
    }
}

/* Extra small: (phones, 480px and up) */
@media (min-width: 480px) {
    .content-width {
        width: 100%;
    }

    nav.intro {
        ul {
            width: 100%;
            li {
                width: calc(25% - 4px);
            }
        }
    }

    .container {
        nav.usermanual {
            width: 180px;
        }

        nav.tutorial {
            width: 180px;
        }

        main {
            width: 300px;
            img {
                max-width: 300px;
            }
        }
    }
}

/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: 768px) {
    .content-width {
        width: 700px;
    }

    nav.intro {
        ul {
            width: 616px;
            li {
                width: 150px;

                &:last-child {
                    border-right: 1px solid $navbar-border-color;
                }

            }
        }
    }

    .container {
        nav.usermanual {
            width: 180px;
        }

        nav.tutorial {
            width: 180px;
        }

        main {
            width: 300px;
            img {
                max-width: 300px;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content-width {
        width: 850px;
    }

    nav.intro {
        ul {
            width: 816px;
            li {
                width: 200px;

            }
        }
    }

    .container {
        nav.usermanual {
            width: 240px;
        }

        nav.tutorial {
            width: 240px;
        }

        main {
            width: 480px;
            img {
                max-width: 480px;
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content-width {
        width: 970px;
    }

    nav.intro {
        ul {
            width: 816px;
            li {
                width: 200px;
            }
        }
    }

    .container {
        nav.usermanual {
            width: 240px;
        }

        nav.tutorial {
            width: 240px;
        }

        main {
            width: 640px;
            img {
                max-width: 640px;
            }
        }
    }
}
