@import "variables";
@import "fonts";

@media (min-width: 0px) {
    body {
        @include font-regular();

        padding: 0;
        margin: 0;

        color: $text-color;
        font-size: 16px;
    }

    h1 {
        @include font-bold();
        font-size: 20px;
    }

    h2 {
        @include font-bold();
        font-size: 18px;
    }

    a {
        color: $text-color;
        text-decoration: none;
    }

    ul {
        li {

        }
    }

    .content-width {
        width: 100%;
    }

    header {
        width: 100%;

        background-image: url(/images/common/BANNER_STRIPS1_Orange.png);
        background-position: center;
        color: $header-text-color;

        a {
            color: rgba(255, 255, 255, 0.75);
            &:hover {
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
            }
        }

        .header-title {
            display: inline-block;

            h1 {
                @include font-regular();
                font-size: 22px;
                margin: 18px 0px;
            }
        }

        nav {
            @include font-thin();
            margin: auto;
            font-size: 16px;
        }

        ul {
            float: right;
            list-style-type: none;
            margin: 22px 0px;
            padding: 0;

            li {
                display: inline;
                padding: 10px 0px;
                margin: auto 30px;
            }

            li.active {
                border-bottom: 2px solid $header-text-highlight;
                a {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }

        .header-mobile-icon {
            display: none;
        }

        .header-content {
            clear: both;
            margin: auto;
            padding: 20px 0px;

            h1 {
                font-size: 24px;
            }

            img {
                padding: 30px;
                margin: auto;
            }

            p {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
        }

        .header-page {
            h1 {
                display: inline-block;
            }

            .search {
                float: right;
                margin: 0;
                margin-top: 10px;
            }
        }

        .header-front-page {
            text-align: center;
        }

    }

    .search-icon:before {
        font-size: 26px;
        position: relative;
        right: 70px;
        top: 3px;
        content: "\E333";
    }

    input.search {
        height: 32px;
        width: 30%;
        margin: 25px;
        padding: 5px 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid rgba(255, 255, 255, 0.5);

        color: $header-text-color;
        font-size: 14px;

        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
        &::-moz-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
        &::input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        &:focus {
            outline: 0;
            border-color: rgba(255,255,255,1);
        }
    }

    nav.regular {
        background-color: $navbar-background-color;
        border-top: 1px solid $navbar-background-color;
        border-bottom: 1px solid $navbar-border-color;
        font-size: 14px;

        a {
            color: $navbar-text-color;
        }

        ul {
            list-style-type: none;
            margin: auto;
            padding: 15px 0px;

            li {
                display: inline;
                padding: 17px 26px;
                border-left: 1px solid $navbar-border-color;
            }

            li:last-child {
                border-right: 1px solid $navbar-border-color;
            }

            li.active {
                background-color: $navbar-active-background-color;
                border-bottom: 1px solid $navbar-active-background-color;

                a {
                    color: $navbar-active-text-color;
                }

            }
        }

        usermanual-navbar {
            float: right;
        }
    }

    nav.intro {
        background-color: $navbar-background-color;
        border-top: 1px solid $navbar-background-color;
        border-bottom: 1px solid $navbar-border-color;
        font-size: 14px;

        a {
            color: $navbar-text-color;
        }

        ul {
            list-style-type: none;
            margin: auto;
            padding: 20px 0px;

            width: 100%;

            li {
                width: calc(25% - 4px);
                padding: 5px 0px;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                border-left: 1px solid $navbar-border-color;
            }

            li:last-child {
                border-right: 1px solid $navbar-border-color;
            }
        }

        span {
            font-size: 64px;
        }

        .video-icon:after {
            content: "\E275";
            @include font-icon();
        }

        .manual-icon:after {
            content: "\E222";
            @include font-icon();
        }

        .tutorials-icon:after {
            content: "\E212";
            @include font-icon();
        }

        .api-icon:after {
            content: "\E286";
            @include font-icon();
        }
    }

    .container {
        margin: auto;

        nav.tutorial {
            float: left;
            width: calc(20% - 40px);
            padding: 27px 10px;
            font-size: 12px;
            color: $contents-text-color;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px 0px;

                }

                li.active {
                    color: $contents-active-text-color;
                    border-bottom: 2px dotted $contents-border-color;
                }
            }

            ul.level {
                display: none;
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        nav.usermanual {
            float: left;
            width: 240px;
            padding: 27px 0px;
            font-size: 12px;
            color: $contents-text-color;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 5px 0px;
                }

                li li {
                    padding: 5px 15px;
                }
            }

            a {
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        main {
            float: left;
            width: 640px;
            padding: 20px 30px;
            color: $main-text-color;

            h1 {
                @include font-bold();
                font-size: 18px;
            }
            h2 {
                @include font-bold();
                font-size: 16px;
            }
            h3 {
                @include font-bold();
                font-size: 14px;
            }
            h4 {
                @include font-bold();
                font-size: 12px;
            }
            h5 {
                @include font-bold();
                font-size: 10px;
            }

            a {
                color: $main-text-color;

                &:hover {
                    text-decoration: underline;
                }
            }

            iframe {
                width: 640px;
                height: 480px;
                max-width: 100%;
                border: none;
            }
        }
    }
}

/* Extra small: (phones, 480px and up) */
@media (min-width: 480px) {
    .content-width {
        width: 100%;
    }

    nav.intro {
        ul {
            width: 100%;
            li {
                width: calc(25% - 4px);
            }
        }
    }

}

/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: 768px) {
    .content-width {
        width: 700px;
    }

    nav.intro {
        ul {
            width: 616px;
            li {
                width: 150px;
            }

            li:last-child {
                border-right: none;
            }
        }
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content-width {
        width: 850px;
    }

    nav.intro {
        ul {
            width: 816px;
            li {
                width: 200px;
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content-width {
        width: 970px;
    }

    nav.intro {
        ul {
            width: 816px;
            li {
                width: 200px;
            }
        }
    }
}
