{{#if prod}}
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    gtag('set', 'developer_id.dNzMyY2', true); // OneTrust developer id
    gtag('consent', 'default', {
        'analytics_storage': 'denied',
        'ad_storage': 'denied',
        'wait_for_update': 1000
    });

    // Google Analytics
    gtag('js', new Date());

    gtag('config', 'UA-23605814-1');

    if (!window._optanonCallbacks) {
        window._optanonCallbacks = [];
    }

    _optanonCallbacks.push(function () {
        // if consent given for cookies then
        // update gtag consent
        var analytics = (OnetrustActiveGroups.indexOf('C0002') != -1);
        var ads = (OnetrustActiveGroups.indexOf('C0004') != -1);
        if (analytics || ads) {
            gtag('consent', 'update', {
                'analytics_storage': analytics ? 'granted' : 'denied',
                'ad_storage': ads ? 'granted' : 'denied'
            });
        }
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23605814-1"></script>
<script src="https://playcanvas.com/static/platform/js/onetrust/consent.js"></script>
{{/if}}
