{{#if prod}}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23605814-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    gtag('set', 'developer_id.dNzMyY2', true); // OneTrust developer id
    gtag('consent', 'default', {
        'analytics_storage': 'denied',
        'ad_storage': 'denied'
    });

    // Google Analytics
    gtag('js', new Date());

    gtag('config', 'UA-23605814-1');

    if (!window._optanonCallbacks) {
        window._optanonCallbacks = [];
    }

    _optanonCallbacks.push(function () {
        // if consent given for Performance cookies then
        // update gtag consent
        if (OnetrustActiveGroups.indexOf('C0002') != -1) {
            gtag('consent', 'update', {'analytics_storage': 'granted'});
        }

        // if consent given for Targeting cookies then
        // update gtag consent
        if (OnetrustActiveGroups.indexOf('C0004') != -1) {
            gtag('consent', 'update', {'ad_storage': 'granted'});
        }
    });
</script>
<script src="https://playcanvas.com/static/platform/js/onetrust/consent.js"></script>
{{/if}}
