{{#unless en}}
<div class="localization-note content-width">
    <div class="alert alert-info">This site is translated by the community. If you want to get involved visit <a href="http://forum.playcanvas.com/t/localizing-the-playcanvas-developer-documentation/1134">this page</a></div>
</div>
{{/unless}}

<footer>
    <ul class="content-width">
        <li class="flags">
            <a class="btn-en" data-lang="en" href="#"><img src="https://playcanvas.com/images/footer/United-Kingdom.png"></a>
            <a class="btn-ja" data-lang="ja" href="#"><img src="https://playcanvas.com/images/footer/Japan.png"></a>
            <a class="btn-ru" data-lang="ru" href="#"><img src="https://playcanvas.com/images/footer/Russia.png"></a>
        </li>
        <li>
            <a href="https://playcanvas.com">PlayCanvas</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Blog</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Forum</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Answers</a>
        </li>
    </ul>
</footer>
