<footer>
    <ul class="content-width">
        <li class="flags">
            <a class="btn-en" data-lang="en" href="#"><img src="https://playcanvas.com/images/footer/United-Kingdom.png"></a>
            <a class="btn-ja" data-lang="ja" href="#"><img src="https://playcanvas.com/images/footer/Japan.png"></a>
            <a class="btn-ru" data-lang="ru" href="#"><img src="https://playcanvas.com/images/footer/Russia.png"></a>
        </li>
        <li>
            <a href="https://playcanvas.com">PlayCanvas</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Blog</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Forum</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Answers</a>
        </li>
    </ul>
</footer>
