{{#unless en}}
<div class="localization-note content-width">
    <div class="alert alert-info">This site is translated by the community. If you want to get involved visit <a href="http://forum.playcanvas.com/t/localizing-the-playcanvas-developer-documentation/1134">this page</a></div>
</div>
{{/unless}}

<footer>
    <ul class="content-width">
        <li class="flags">
            <a class="btn-en" data-lang="en" href="#"><img src="/images/common/flags/United-Kingdom.png" alt="English" width=></a>
            <a class="btn-ja" data-lang="ja" href="#"><img src="/images/common/flags/Japan.png" alt="Japanese"></a>
            <a class="btn-ru" data-lang="ru" href="#"><img src="/images/common/flags/Russia.png" alt="Russian"></a>
            <a class="btn-zh" data-lang="zh" href="#"><img src="/images/common/flags/China.png" alt="Chinese"></a>
        </li>
        <li>
            <a href="https://playcanvas.com">PlayCanvas</a>
        </li>
        <li>
            <a href="https://blog.playcanvas.com">Blog</a>
        </li>
        <li>
            <a href="https://forum.playcanvas.com">Forum</a>
        </li>

{{#with ja}}
        <li>
            <a href="https://support.playcanvas.jp/hc/ja">フォーラム</a>
        </li>
{{/with}}
    </ul>
</footer>
