<head>
    <title>{{ title }} | Learn PlayCanvas</title>

    <meta name="viewport" content="width=device-width, initial-scale=0.5">

    <meta name="pc-url-home" content="https://playcanvas.com" />
    <meta name="pc-onetrust-key" content="f91a844d-1f3a-40ee-8434-e5049aee38da" />

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/playcanvas-theme.css">
    <link rel="alternate" href="{{{locale-url 'en' path}}}" hreflang="x-default">
    <link rel="alternate" href="{{{locale-url 'en' path}}}" hreflang="en">
    <link rel="alternate" href="{{{locale-url 'ja' path}}}" hreflang="ja">
    <link rel="alternate" href="{{{locale-url 'zh' path}}}" hreflang="zh">
    <link rel="alternate" href="{{{locale-url 'ru' path}}}" hreflang="ru">

    <link rel="icon" type="image/png" href="//s3-eu-west-1.amazonaws.com/static.playcanvas.com/images/icons/favicon_docs.png">

    <script src="/contrib/highlight.min.js"></script>
</head>
