<header>
    <nav class="content-width">
        <a href="/" class="header-title"><img src="/images/header/PLAYMANUAL.png"></a>
        <a class="header-mobile-icon" href="">icon</a>
        <ul class="header-menu">
            <li class="user-manual"><a href="/user-manual">User Manual</a></li>
            <li class="tutorials"><a href="/tutorials">Tutorials</a></li>
            <li class="video"><a href="/tutorials/video">Video</a></li>
            <li class="api"><a href="/api/">API Reference</a></li>
        </ul>
    </nav>

    {{#if frontpage}}
    <div class="header-content header-front-page">
        <img src="/images/wireframe_logo.png"></img>
        <h1>PlayCanvas Developer Resources</h1>
        <p>Find everything you need to make games and interactive experiences with PlayCanvas.</p>

        <input id="search" class="search" type="text" placeholder="Search" />
    </div>

    {{else}}

    <div class="header-content header-page content-width">
        <h1><span class="font-icon">{{{header-icon}}}</span>{{header-title}}</h1>
        <input id="search" class="search" type="text" placeholder="Search"></input>
    </div>
    {{/if}}

</header>
