<header>
    <nav class="content-width">
        <a href="/{{locale}}/" class="header-title"><img src="/images/header/PLAYMANUAL.png" alt="PlayCanvas Manual"></a>
        <a class="header-mobile-icon" href="">icon</a>
        <ul class="header-menu">
            <li class="user-manual"><a href="/user-manual">{{#i18n}}User Manual{{/i18n}}</a></li>
            <li class="tutorials"><a href="/tutorials">{{#i18n}}Tutorials{{/i18n}}</a></li>
            <li class="forum"><a href="https://forum.playcanvas.com/" target="_blank" rel="noopener">{{#i18n}}Forum{{/i18n}}</a></li>
            <li class="api"><a href="/api/">{{#i18n}}API Reference{{/i18n}}</a></li>
        </ul>
    </nav>

    {{#if frontpage}}
    <div class="header-content header-front-page">
        <img src="/images/wireframe_logo.png" alt="PlayCanvas Logo">
        <h1>{{#i18n}}PlayCanvas Developer Resources{{/i18n}}</h1>
        <p>{{#i18n}}Find everything you need to make games and interactive experiences with PlayCanvas.{{/i18n}}</p>

        <input id="search" class="search" type="text" placeholder="{{#i18n}}Search{{/i18n}}" />
    </div>

    {{else}}

    <div class="header-content header-page content-width">
        <h1><span class="font-icon">{{{header-icon}}}</span>{{header-title}}</h1>
        <input id="search" class="search" type="text" placeholder="Search">
    </div>
    {{/if}}

</header>
