    <head>
        <title>{{ title }} | Learn PlayCanvas</title>

        <meta name="viewport" content="width=device-width, initial-scale=0.5">

        <link rel="stylesheet" href="/css/styles.css"></link>
        <link rel="stylesheet" href="/css/playcanvas-theme.css"></link>

        <link rel="icon" type="image/png" href="//s3-eu-west-1.amazonaws.com/static.playcanvas.com/images/icons/favicon.png">

        <script src="/contrib/highlight.min.js"></script>

        <script>hljs.initHighlightingOnLoad();</script>
    </head>
