<nav class="usermanual content-width">
 <ul>
    {{#en}}
    <li>
        <a href="{{this.path}}">{{this.name}}</a>
        <ul>
        {{#children}}
            <li>
                <a href="{{this.path}}">{{this.name}}</a>
                <ul>
                {{#children}}
                    <li>
                        <a href="{{this.path}}">{{this.name}}</a>
                    </li>
                {{/children}}
                </ul>
            </li>
        {{/children}}
        </ul>
    </li>
    {{/en}}
</ul>
</nav>
