<script type="text/javascript">
(function () {
    function ready(fn) {
      if (document.readyState != 'loading'){
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }

    ready(function () {
        var url = window.location.pathname;
        if (url.indexOf("tutorials") >= 0) {
            tutorials.setCurrentNavbar(url);
            tutorials.setCurrentSidebar(url);

            header.setActive("tutorials")
        }

        if (window.location.href.indexOf("user-manual") >= 0) {
            // usermanual
            header.setActive("user-manual");

            usermanual.buildMenu(url);
        }

        if (window.location.href.indexOf("videos") >= 0) {
            header.setActive("videos");
        }

        // search
        var search = document.getElementById("search");
        if (search) {
            search.addEventListener("keydown", function (e) {
                if (e.which === 13 || e.keyCode === 13) {
                    window.location.href = "/search?q=" + e.target.value;
                }
            }, true);
        }

    });

    var header = {
        setActive: function (_class) {
            var li = document.querySelector("li." + _class);
            if (li && li.classList) {
                li.classList.add("active");
            }

        }
    };

    var usermanual = {
        buildMenu: function (url) {
            var els = document.querySelectorAll("nav.usermanual li");
            for (var i = 0; i < els.length; i++) {
                var li = els[i]
                var expander = li.previousElementSibling;
                if (li.querySelectorAll("ul li").length > 0) {
                    if(expander.classList) {
                        // closed by default
                        expander.classList.add("closed");
                        li.classList.add("closed");

                        // toggle on click
                        expander.addEventListener("click", function (e) {
                            var li = e.currentTarget.nextElementSibling;
                            usermanual.toggle(e.currentTarget);
                            usermanual.toggle(li);
                            e.preventDefault();
                            return false;
                        }, true);
                    }
                } else {
                    expander.classList.add("hidden");
                }

                // Find the current page and expand all parents
                var a = li.querySelector("a");
                if (a) {
                    var re = new RegExp("^" + a.getAttribute("href") + ".*");
                    if (re.test(url)) {
                        var li = a.parentNode;
                        var expander = a.parentNode.previousElementSibling;
                        usermanual.toggle(li);
                        usermanual.toggle(expander);
                    }
                }
            }
        },

        // open/close a menu item
        toggle: function (e) {
            if (e.classList) {
                if (e.classList.contains("closed")) {
                    e.classList.remove("closed");
                    e.classList.add("open");
                } else {
                    e.classList.remove("open");
                    e.classList.add("closed");
                }
            }
        }
    };


    var tutorials = {
        setCurrentNavbar: function (url) {
            var level = null;

            // tutorials
            if (url.indexOf("beginner") >= 0) {
                level = "beginner";
            } else if (url.indexOf("intermediate") >= 0) {
                level = "intermediate";
            } else if (url.indexOf("advanced") >= 0) {
                level = "advanced";
            }

            var el = document.querySelector("#tutorials-navbar-" + level);
            if (el && el.classList)
                el.classList.add("active");
        },

        setCurrentSidebar: function (url) {
            var level = null;
            if (url.indexOf("beginner") >= 0) {
                level = "beginner";
            } else if (url.indexOf("intermediate") >= 0) {
                level = "intermediate";
            } else if (url.indexOf("advanced") >= 0) {
                level = "advanced";
            }

            // show the correct sidebar
            var el = document.querySelector("ul." + level)
            if(el) {
                el.style.display = "block";
            }

            // set the active tutorial
            var nav = document.querySelector("nav.tutorial");
            var links = nav.querySelectorAll("a");
            for(var i = 0; i < links.length; i++) {
                if (url.indexOf(links[i].getAttribute("href")) >= 0) {
                    if(links[i].parentNode.classList) {
                        links[i].parentNode.classList.add("active");
                    }
                }
            }
        }
    }
})();
</script>

<!-- <script type="text/javascript">
    $(document).ready(function () {
        // Set current sidebar navigation class
        var path = window.location.pathname.slice(0, -1); // get path and remove trailing slash
        var current = $('#sidebar a[href="' + path + '"]');
        current.addClass("current");

        var element = null;
        // Set navtabs class
        if (path.slice(0, 12) === "/user-manual") {
            element = $('.navbar-dashboard a[href="/user-manual/"]');
            element.parent().addClass("current");
        } else if (path.slice(0, 10) === "/tutorials") {
            element = $('.navbar-dashboard a[href="/tutorials/"]');
            element.parent().addClass("current");
        } else if (path === "") {
            element = $('.navbar-dashboard a[href="/"]');
            element.parent().addClass("current");
        }


        // This builds next/prev links.

        var href = '#';

        // First get the child of the current page.
        var nextPage = current.parent().next("ul").children();
        if (!nextPage.length) {
            // If there are no children get the next sibling
            nextPage = current.parent().parent().next("li");
        }
        if (!nextPage.length) {
            // If there still no next, go up to the previous parent and get the next sibling
            nextPage = current.parent().parent().parent().parent().next()
        }

        if (nextPage.length) {
            href = nextPage.find("h5 > a").attr("href");
            $('#next').attr('href', href);

        }

        var prevPage = current.parent().parent().prev("li");
        if (!prevPage.length) {
            prevPage = current.parent().parent().parent().parent();
        }
        if (prevPage.length) {
            href = prevPage.find("h5 > a").attr("href");
            $('#prev').attr('href', href);
        }
    });
</script>
 -->
