<div class="backdrop anonymous-backdrop row-fix">
    <div class="banner container ">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-5 col-xs-12">
                <h1>Developer Resources</h1>
            </div>
            <div class="col-sm-offset-0 col-md-offset-1 col-sm-6 col-md-5 col-xs-12 site-search">
                <form action="">
                    <input id="search-query" type="text"></input> <button id="search-button" class="btn btn-outline btn-inverted">SEARCH</button>
                    <script>
                        $('#search-button').on("click", function (e) {
                            e.preventDefault();
                            window.location.href = "/search/?q=" + $('#search-query').val();
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
