{{#lang-selector "en"}}{{/lang-selector}}
<nav class="tutorial">
    <h2>Filter</h2>
    <ul>
        {{#each tags}}
        <li class="tutorial-filter"><a href="/tutorials/?tags={{id}}"><span class='tutorial-checkbox disabled' data-tag="{{id}}"></span><span class="tutorial-filter-text disabled" data-tag="{{id}}">{{name}}</span></a></li>
        {{/each}}
    </ul>
</nav>
{{#lang-selector-close}}{{/lang-selector-close}}

{{#lang-selector "ja"}}{{/lang-selector}}
<nav class="tutorial">
    <ul>
        {{#each tags}}
        <li class="tutorial-filter"><span class='tutorial-checkbox off' data-tag="{{id}}"></span><span class="tutorial-filter-text" data-tag="{{id}}">{{name}}</span></li>
        {{/each}}
    </ul>
</nav>
{{#lang-selector-close}}{{/lang-selector-close}}

{{#lang-selector "ru"}}{{/lang-selector}}
<nav class="tutorial">
    <ul>
        {{#each tags}}
        <li class="tutorial-filter"><span class='tutorial-checkbox off' data-tag="{{id}}"></span><span class="tutorial-filter-text" data-tag="{{id}}">{{name}}</span></li>
        {{/each}}
    </ul>
</nav>
{{#lang-selector-close}}{{/lang-selector-close}}

{{#lang-selector "zh"}}{{/lang-selector}}
<nav class="tutorial">
    <ul>
        {{#each tags}}
        <li class="tutorial-filter"><span class='tutorial-checkbox off' data-tag="{{id}}"></span><span class="tutorial-filter-text" data-tag="{{id}}">{{name}}</span></li>
        {{/each}}
    </ul>
</nav>
{{#lang-selector-close}}{{/lang-selector-close}}
