<div>{{description}}</div>

<iframe src={{appUrl}} webkitallowfullscreen='true'
                       mozallowfullscreen='true'
                       allowfullscreen='true'
                       webkitallowfullscreen='true'
                       allow='xr-spatial-tracking'
                       allowvr
                       ></iframe>

<div>
    <a class="tutorial-button editor-button" href="{{editorUrl}}" target="_blank">Open in Editor</a>
    <a class="tutorial-button project-button"  href="{{projectUrl}}" target="_blank">Fork Project</a>
</div>
