{{#with pages}}
{{#lang-selector "en"}}{{/lang-selector}}
{{#with en}}
<h1>Tutorials</h1>
<div id="no-tutorials-message" class="hidden">No tutorials yet! Let us know what you would like to see here on the <a href="https://forum.playcanvas.com/" target="_blank" rel="noopener">forums</a>.</div>
<div class="tutorial-cloud">
    {{#each tutorials}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
<h1 id="project-demos-title">Demo Projects</h1>
<div class="tutorial-cloud">
    {{#each projectDemos}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
{{/with}}
{{#lang-selector-close}}{{/lang-selector-close}}
{{#lang-selector "ja"}}{{/lang-selector}}
{{#with ja}}
<h1>Tutorials</h1>
<div id="no-tutorials-message" class="hidden">No tutorials yet! Let us know what you would like to see here on the <a href="https://forum.playcanvas.com/" target="_blank" rel="noopener">forums</a>.</div>
<div class="tutorial-cloud">
    {{#each tutorials}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
<h1 id="project-demos-title">Demo Projects</h1>
<div class="tutorial-cloud">
    {{#each projectDemos}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
{{/with}}
{{#lang-selector-close}}{{/lang-selector-close}}
{{#lang-selector "ru"}}{{/lang-selector}}
{{#with ru}}
<h1>Tutorials</h1>
<div id="no-tutorials-message" class="hidden">No tutorials yet! Let us know what you would like to see here on the <a href="https://forum.playcanvas.com/" target="_blank" rel="noopener">forums</a>.</div>
<div class="tutorial-cloud">
    {{#each tutorials}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
<h1 id="project-demos-title">Demo Projects</h1>
<div class="tutorial-cloud">
    {{#each projectDemos}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
{{/with}}
{{#lang-selector-close}}{{/lang-selector-close}}
{{#lang-selector "zh"}}{{/lang-selector}}
{{#with zh}}
<h1>Tutorials</h1>
<div id="no-tutorials-message" class="hidden">No tutorials yet! Let us know what you would like to see here on the <a href="https://forum.playcanvas.com/" target="_blank" rel="noopener">forums</a>.</div>
<div class="tutorial-cloud">
    {{#each tutorials}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
<h1 id="project-demos-title">Demo Projects</h1>
<div class="tutorial-cloud">
    {{#each projectDemos}}
    <a class="tutorial-cloud-item" data-tags="{{tags}}" href="{{url}}"><img class="thumb" src="{{thumbUrl}}">{{{title}}}</a>
    {{/each}}
</div>
{{/with}}
{{#lang-selector-close}}{{/lang-selector-close}}
{{/with}}
