        <div class="row-fix tab-bar">
            <div class="container tab-container">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <ul class="nav navbar-nav navbar-dashboard">
                            <li><a href="/">INTRODUCTION</a></li>
                            <li><a href="/user-manual/">USER MANUAL</a></li>
                            <li><a href="/engine/api/stable/">API REFERENCE</a></li>
                            <li><a href="/tutorials/">TUTORIALS</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-dashboard navbar-right">
                            <li><a id="prev" href="#">PREV</a></li>
                            <li><a id="next" href="#">NEXT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
