@font-face {
  font-family: 'ui-font-solid';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.ttf") format("truetype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* line 99, ../../sass/_fonts.scss */
.font-thin {
  font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* line 103, ../../sass/_fonts.scss */
.font-light {
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* line 107, ../../sass/_fonts.scss */
.font-regular {
  font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 111, ../../sass/_fonts.scss */
.font-bold {
  font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 115, ../../sass/_fonts.scss */
.font-icon {
  font-family: 'ui-font-solid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@media (min-width: 0px) {
  /* line 5, ../../sass/styles.scss */
  body {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #324447;
  }
  /* line 13, ../../sass/styles.scss */
  body .container {
    font-size: 16px;
    line-height: 30px;
  }

  /* line 19, ../../sass/styles.scss */
  h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  /* line 24, ../../sass/styles.scss */
  h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }

  /* line 29, ../../sass/styles.scss */
  a {
    color: #324447;
    text-decoration: none;
  }

  /* line 34, ../../sass/styles.scss */
  pre {
    font-size: 12px;
    line-height: 1.5em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  /* line 40, ../../sass/styles.scss */
  code {
    overflow: scroll;
  }

  /* line 44, ../../sass/styles.scss */
  .content-width {
    margin: auto;
    width: 100%;
  }

  /* line 49, ../../sass/styles.scss */
  header {
    width: 100%;
    background-image: url(/images/common/BANNER_STRIPS1_Orange.png);
    background-position: center;
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 56, ../../sass/styles.scss */
  header a {
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 58, ../../sass/styles.scss */
  header a:hover {
    color: white;
    text-decoration: none;
  }
  /* line 64, ../../sass/styles.scss */
  header .header-title {
    display: inline-block;
  }
  /* line 67, ../../sass/styles.scss */
  header .header-title img {
    padding: 24px 0px;
    padding-right: 8px;
    vertical-align: middle;
  }
  /* line 73, ../../sass/styles.scss */
  header .header-title h1 {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    display: inline;
    vertical-align: middle;
  }
  /* line 81, ../../sass/styles.scss */
  header nav {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: auto;
    font-size: 16px;
  }
  /* line 87, ../../sass/styles.scss */
  header ul {
    float: right;
    list-style-type: none;
    margin: 22px 0px;
    padding: 0;
  }
  /* line 93, ../../sass/styles.scss */
  header ul li {
    display: inline;
    padding: 10px 0px;
    margin: auto 30px;
  }
  /* line 99, ../../sass/styles.scss */
  header ul li.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  }
  /* line 101, ../../sass/styles.scss */
  header ul li.active a {
    color: white;
  }
  /* line 107, ../../sass/styles.scss */
  header .header-mobile-icon {
    display: none;
  }
  /* line 111, ../../sass/styles.scss */
  header .header-content {
    clear: both;
    margin: auto;
    padding: 20px 0px;
  }
  /* line 116, ../../sass/styles.scss */
  header .header-content h1 {
    color: white;
    font-size: 24px;
  }
  /* line 121, ../../sass/styles.scss */
  header .header-content img {
    padding: 30px;
    margin: auto;
  }
  /* line 126, ../../sass/styles.scss */
  header .header-content p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  /* line 132, ../../sass/styles.scss */
  header .header-content .font-icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
    font-weight: normal;
    vertical-align: text-top;
    line-height: 18px;
    margin-right: 10px;
  }
  /* line 143, ../../sass/styles.scss */
  header .header-page h1 {
    display: inline-block;
  }
  /* line 147, ../../sass/styles.scss */
  header .header-page .search {
    float: right;
    margin: 0;
    margin-top: 10px;
  }
  /* line 154, ../../sass/styles.scss */
  header .header-front-page {
    text-align: center;
  }

  /* line 160, ../../sass/styles.scss */
  .search-icon:before {
    font-size: 26px;
    position: relative;
    right: 70px;
    top: 3px;
    content: "\E333";
  }

  /* line 168, ../../sass/styles.scss */
  input.search {
    height: 24px;
    width: 30%;
    margin: 25px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
  }
  /* line 179, ../../sass/styles.scss */
  input.search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 182, ../../sass/styles.scss */
  input.search::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 185, ../../sass/styles.scss */
  input.search::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 188, ../../sass/styles.scss */
  input.search::input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 192, ../../sass/styles.scss */
  input.search:focus {
    outline: 0;
    border-color: white;
  }

  /* line 198, ../../sass/styles.scss */
  nav.regular {
    background-color: #f1f1ef;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  /* line 204, ../../sass/styles.scss */
  nav.regular ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 52px;
  }
  /* line 212, ../../sass/styles.scss */
  nav.regular ul > li {
    float: left;
    border-left: 1px solid #e6e6e6;
  }
  /* line 216, ../../sass/styles.scss */
  nav.regular ul > li:last-child {
    border-right: 1px solid #e6e6e6;
  }
  /* line 220, ../../sass/styles.scss */
  nav.regular ul > li.active {
    background-color: white;
    border-bottom: 1px solid white;
  }
  /* line 224, ../../sass/styles.scss */
  nav.regular ul > li.active > a {
    color: #324447;
  }
  /* line 229, ../../sass/styles.scss */
  nav.regular ul > li > a {
    display: block;
    color: #5b7073;
    height: 52px;
    line-height: 52px;
    padding: 0 36px;
  }
  /* line 239, ../../sass/styles.scss */
  nav.regular usermanual-navbar {
    float: right;
  }

  /* line 245, ../../sass/styles.scss */
  nav.intro {
    background-color: #f1f1ef;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  /* line 251, ../../sass/styles.scss */
  nav.intro ul {
    list-style-type: none;
    margin: 0 auto;
    height: 170px;
    padding: 0;
    width: 100%;
  }
  /* line 259, ../../sass/styles.scss */
  nav.intro ul > li {
    float: left;
    width: calc(25% - 4px);
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #e6e6e6;
  }
  /* line 267, ../../sass/styles.scss */
  nav.intro ul > li > a {
    display: block;
    color: #5b7073;
    height: 170px;
    padding: 0 0px;
  }
  /* line 274, ../../sass/styles.scss */
  nav.intro ul > li > a:hover > span {
    color: #f16524;
  }
  /* line 278, ../../sass/styles.scss */
  nav.intro ul > li > a > span {
    display: block;
    padding-top: 30px;
  }
  /* line 284, ../../sass/styles.scss */
  nav.intro ul > li > a > p {
    margin: 0;
  }
  /* line 296, ../../sass/styles.scss */
  nav.intro span {
    font-size: 64px;
  }
  /* line 300, ../../sass/styles.scss */
  nav.intro .video-icon:after {
    content: "\E275";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 305, ../../sass/styles.scss */
  nav.intro .manual-icon:after {
    content: "\E222";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 310, ../../sass/styles.scss */
  nav.intro .tutorials-icon:after {
    content: "\E212";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 315, ../../sass/styles.scss */
  nav.intro .api-icon:after {
    content: "\E353";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }

  /* line 322, ../../sass/styles.scss */
  .container nav {
    line-height: 24px;
  }
  /* line 326, ../../sass/styles.scss */
  .container nav.tutorial {
    float: left;
    width: 100%;
    padding: 27px 0px;
    font-size: 16px;
    color: #5b7073;
  }
  /* line 333, ../../sass/styles.scss */
  .container nav.tutorial ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 338, ../../sass/styles.scss */
  .container nav.tutorial ul > li {
    padding: 10px 0px;
  }
  /* line 342, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li > a {
    color: #5b7073;
  }
  /* line 347, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li:hover:before {
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin-left: -16px;
    margin-top: -2px;
    position: absolute;
  }
  /* line 355, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li:hover > a {
    color: #324447;
  }
  /* line 362, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li.active > a {
    color: #324447;
  }
  /* line 366, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li.active:before {
    color: #f16524;
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin-left: -16px;
    margin-top: -2px;
    position: absolute;
  }
  /* line 378, ../../sass/styles.scss */
  .container nav.tutorial ul.level {
    display: none;
  }
  /* line 385, ../../sass/styles.scss */
  .container nav.usermanual {
    float: left;
    width: 100%;
    padding: 27px 0px;
    font-size: 16px;
  }
  /* line 391, ../../sass/styles.scss */
  .container nav.usermanual ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 3px;
  }
  /* line 397, ../../sass/styles.scss */
  .container nav.usermanual ul .expander {
    float: left;
    margin-left: -24px;
  }
  /* line 401, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.hidden {
    display: none;
  }
  /* line 405, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.open {
    margin-top: -2px;
  }
  /* line 407, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.open .expander-icon {
    transform: rotate(90deg);
    display: block;
  }
  /* line 411, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.open .expander-icon > a {
    color: #f16524;
  }
  /* line 418, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.closed .expander-icon {
    transform: rotate(0deg);
    display: block;
  }
  /* line 426, ../../sass/styles.scss */
  .container nav.usermanual ul li {
    padding: 5px 0px;
  }
  /* line 430, ../../sass/styles.scss */
  .container nav.usermanual ul li.parent:before {
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 436, ../../sass/styles.scss */
  .container nav.usermanual ul li.closed > ul {
    display: none;
  }
  /* line 440, ../../sass/styles.scss */
  .container nav.usermanual ul li.open > ul {
    display: block;
  }
  /* line 444, ../../sass/styles.scss */
  .container nav.usermanual ul li li {
    padding: 5px 15px;
  }
  /* line 448, ../../sass/styles.scss */
  .container nav.usermanual ul li > a {
    color: #5b7073;
  }
  /* line 451, ../../sass/styles.scss */
  .container nav.usermanual ul li > a.current {
    color: #f16524;
  }
  /* line 463, ../../sass/styles.scss */
  .container main {
    float: left;
    width: 640px;
    padding: 20px 0px;
    padding-left: 30px;
    color: #324447;
  }
  /* line 470, ../../sass/styles.scss */
  .container main h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }
  /* line 474, ../../sass/styles.scss */
  .container main h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  /* line 478, ../../sass/styles.scss */
  .container main h3 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }
  /* line 482, ../../sass/styles.scss */
  .container main h4 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  /* line 486, ../../sass/styles.scss */
  .container main h5 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
  }
  /* line 491, ../../sass/styles.scss */
  .container main a {
    color: #0099ec;
  }
  /* line 494, ../../sass/styles.scss */
  .container main a:hover {
    text-decoration: underline;
  }
  /* line 499, ../../sass/styles.scss */
  .container main img {
    display: block;
    margin: 0 auto;
    max-width: 640px;
  }
  /* line 505, ../../sass/styles.scss */
  .container main table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
  }
  /* line 511, ../../sass/styles.scss */
  .container main table th {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-top: 1px solid #5b7073;
    border-bottom: 1px solid #5b7073;
    padding: 5px;
    font-size: 14px;
  }
  /* line 519, ../../sass/styles.scss */
  .container main table td {
    border-top: 1px solid #5b7073;
    border-bottom: 1px solid #5b7073;
    padding: 5px;
    font-size: 14px;
  }
  /* line 527, ../../sass/styles.scss */
  .container main table.head-column td:first-child {
    width: 60%;
  }
  /* line 531, ../../sass/styles.scss */
  .container main table.head-column td:last-child {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }
  /* line 538, ../../sass/styles.scss */
  .container main iframe {
    width: 100%;
    height: 480px;
    max-width: 100%;
    border: none;
  }
  /* line 545, ../../sass/styles.scss */
  .container main .alert-info {
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
    color: #31708f;
    padding: 14px;
    font-size: 14px;
    line-height: 24px;
  }
  /* line 554, ../../sass/styles.scss */
  .container main.full-width {
    width: 100%;
    padding: 0;
  }
  /* line 559, ../../sass/styles.scss */
  .container main.frontpage {
    float: none;
    padding: 0px;
    width: 100%;
  }

  /* line 582, ../../sass/styles.scss */
  .search-container > main {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
  }
  /* line 587, ../../sass/styles.scss */
  .search-container > main a.gs-title {
    color: #0099ec !important;
    text-decoration: none !important;
  }
  /* line 592, ../../sass/styles.scss */
  .search-container > main .gs-visibleUrl {
    color: #324447 !important;
    font-style: italic;
  }
  /* line 597, ../../sass/styles.scss */
  .search-container > main .gsc-table-result {
    color: #324447 !important;
  }
  /* line 601, ../../sass/styles.scss */
  .search-container > main .gsc-results .gsc-cursor-box .gsc-cursor-page {
    color: #0099ec !important;
  }
  /* line 605, ../../sass/styles.scss */
  .search-container > main .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: #0099ec !important;
  }
}
/* Extra small: (phones, 480px and up) */
@media (min-width: 300px) {
  /* line 615, ../../sass/styles.scss */
  header > nav {
    display: none;
  }

  /* line 620, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 625, ../../sass/styles.scss */
  nav.intro ul {
    width: 100%;
  }
  /* line 627, ../../sass/styles.scss */
  nav.intro ul li {
    width: calc(25% - 4px);
  }

  /* line 634, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 180px;
  }
  /* line 638, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 180px;
  }
  /* line 642, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
  /* line 644, ../../sass/styles.scss */
  .container main img {
    max-width: 300px;
  }
}
/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: 768px) {
  /* line 654, ../../sass/styles.scss */
  header > nav {
    display: block;
  }
  /* line 657, ../../sass/styles.scss */
  header > nav > ul > li {
    margin: auto 5px;
  }

  /* line 664, ../../sass/styles.scss */
  .content-width {
    width: 700px;
  }

  /* line 669, ../../sass/styles.scss */
  nav.intro ul {
    width: 616px;
  }
  /* line 671, ../../sass/styles.scss */
  nav.intro ul li {
    width: 150px;
  }
  /* line 674, ../../sass/styles.scss */
  nav.intro ul li:last-child {
    border-right: 1px solid #e6e6e6;
  }

  /* line 683, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 180px;
  }
  /* line 687, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 180px;
  }
  /* line 691, ../../sass/styles.scss */
  .container main {
    width: 360px;
  }
  /* line 693, ../../sass/styles.scss */
  .container main img {
    max-width: 360px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 705, ../../sass/styles.scss */
  header > nav > ul > li {
    margin: auto 30px;
  }

  /* line 712, ../../sass/styles.scss */
  .content-width {
    width: 850px;
  }

  /* line 717, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 719, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 727, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 240px;
  }
  /* line 731, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 240px;
  }
  /* line 735, ../../sass/styles.scss */
  .container main {
    width: 540px;
  }
  /* line 737, ../../sass/styles.scss */
  .container main img {
    max-width: 540px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 746, ../../sass/styles.scss */
  .content-width {
    width: 1070px;
  }

  /* line 751, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 753, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 760, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 240px;
  }
  /* line 764, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 240px;
  }
  /* line 768, ../../sass/styles.scss */
  .container main {
    width: 800px;
  }
  /* line 770, ../../sass/styles.scss */
  .container main img {
    max-width: 700px;
  }
  /* line 774, ../../sass/styles.scss */
  .container main .full-width {
    width: 970px;
  }
}
