@font-face {
  font-family: 'ui-font-solid';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.ttf") format("truetype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* line 99, ../../sass/_fonts.scss */
.font-thin {
  font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* line 103, ../../sass/_fonts.scss */
.font-light {
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* line 107, ../../sass/_fonts.scss */
.font-regular {
  font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 111, ../../sass/_fonts.scss */
.font-bold {
  font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 115, ../../sass/_fonts.scss */
.font-icon {
  font-family: 'ui-font-solid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@media (min-width: 0px) {
  /* line 5, ../../sass/styles.scss */
  body {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #324447;
    font-size: 16px;
    line-height: 30px;
  }

  /* line 16, ../../sass/styles.scss */
  h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }

  /* line 21, ../../sass/styles.scss */
  h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  /* line 26, ../../sass/styles.scss */
  a {
    color: #324447;
    text-decoration: none;
  }

  /* line 37, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 41, ../../sass/styles.scss */
  header {
    width: 100%;
    background-image: url(/images/common/BANNER_STRIPS1_Orange.png);
    background-position: center;
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 48, ../../sass/styles.scss */
  header a {
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 50, ../../sass/styles.scss */
  header a:hover {
    color: white;
    text-decoration: none;
  }
  /* line 56, ../../sass/styles.scss */
  header .header-title {
    display: inline-block;
  }
  /* line 59, ../../sass/styles.scss */
  header .header-title h1 {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin: 18px 0px;
  }
  /* line 66, ../../sass/styles.scss */
  header nav {
    font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: auto;
    font-size: 16px;
  }
  /* line 72, ../../sass/styles.scss */
  header ul {
    float: right;
    list-style-type: none;
    margin: 22px 0px;
    padding: 0;
  }
  /* line 78, ../../sass/styles.scss */
  header ul li {
    display: inline;
    padding: 10px 0px;
    margin: auto 30px;
  }
  /* line 84, ../../sass/styles.scss */
  header ul li.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  }
  /* line 86, ../../sass/styles.scss */
  header ul li.active a {
    color: white;
  }
  /* line 92, ../../sass/styles.scss */
  header .header-mobile-icon {
    display: none;
  }
  /* line 96, ../../sass/styles.scss */
  header .header-content {
    clear: both;
    margin: auto;
    padding: 20px 0px;
  }
  /* line 101, ../../sass/styles.scss */
  header .header-content h1 {
    font-size: 24px;
  }
  /* line 105, ../../sass/styles.scss */
  header .header-content img {
    padding: 30px;
    margin: auto;
  }
  /* line 110, ../../sass/styles.scss */
  header .header-content p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  /* line 118, ../../sass/styles.scss */
  header .header-page h1 {
    display: inline-block;
  }
  /* line 122, ../../sass/styles.scss */
  header .header-page .search {
    float: right;
    margin: 0;
    margin-top: 10px;
  }
  /* line 129, ../../sass/styles.scss */
  header .header-front-page {
    text-align: center;
  }

  /* line 135, ../../sass/styles.scss */
  .search-icon:before {
    font-size: 26px;
    position: relative;
    right: 70px;
    top: 3px;
    content: "\E333";
  }

  /* line 143, ../../sass/styles.scss */
  input.search {
    height: 32px;
    width: 30%;
    margin: 25px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
  }
  /* line 154, ../../sass/styles.scss */
  input.search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 157, ../../sass/styles.scss */
  input.search::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 160, ../../sass/styles.scss */
  input.search::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 163, ../../sass/styles.scss */
  input.search::input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 167, ../../sass/styles.scss */
  input.search:focus {
    outline: 0;
    border-color: white;
  }

  /* line 173, ../../sass/styles.scss */
  nav.regular {
    background-color: #f1f1ef;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  /* line 179, ../../sass/styles.scss */
  nav.regular ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 52px;
  }
  /* line 187, ../../sass/styles.scss */
  nav.regular ul > li {
    float: left;
    border-left: 1px solid #e6e6e6;
  }
  /* line 191, ../../sass/styles.scss */
  nav.regular ul > li:last-child {
    border-right: 1px solid #e6e6e6;
  }
  /* line 195, ../../sass/styles.scss */
  nav.regular ul > li.active {
    background-color: white;
    border-bottom: 1px solid white;
  }
  /* line 199, ../../sass/styles.scss */
  nav.regular ul > li.active > a {
    color: #324447;
  }
  /* line 204, ../../sass/styles.scss */
  nav.regular ul > li > a {
    display: block;
    color: #5b7073;
    height: 52px;
    line-height: 52px;
    padding: 0 16px;
  }
  /* line 214, ../../sass/styles.scss */
  nav.regular usermanual-navbar {
    float: right;
  }

  /* line 220, ../../sass/styles.scss */
  nav.intro {
    background-color: #f1f1ef;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  /* line 226, ../../sass/styles.scss */
  nav.intro ul {
    list-style-type: none;
    margin: 0 auto;
    height: 170px;
    padding: 0;
    width: 100%;
  }
  /* line 234, ../../sass/styles.scss */
  nav.intro ul > li {
    float: left;
    width: calc(25% - 4px);
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #e6e6e6;
  }
  /* line 242, ../../sass/styles.scss */
  nav.intro ul > li > a {
    display: block;
    color: #5b7073;
    height: 170px;
    padding: 0 0px;
  }
  /* line 249, ../../sass/styles.scss */
  nav.intro ul > li > a:hover > span {
    color: #f16524;
  }
  /* line 253, ../../sass/styles.scss */
  nav.intro ul > li > a > span {
    display: block;
    padding-top: 30px;
  }
  /* line 259, ../../sass/styles.scss */
  nav.intro ul > li > a > p {
    margin: 0;
  }
  /* line 271, ../../sass/styles.scss */
  nav.intro span {
    font-size: 64px;
  }
  /* line 275, ../../sass/styles.scss */
  nav.intro .video-icon:after {
    content: "\E275";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 280, ../../sass/styles.scss */
  nav.intro .manual-icon:after {
    content: "\E222";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 285, ../../sass/styles.scss */
  nav.intro .tutorials-icon:after {
    content: "\E212";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 290, ../../sass/styles.scss */
  nav.intro .api-icon:after {
    content: "\E286";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }

  /* line 296, ../../sass/styles.scss */
  .container {
    margin: auto;
  }
  /* line 299, ../../sass/styles.scss */
  .container nav {
    line-height: 16px;
  }
  /* line 303, ../../sass/styles.scss */
  .container nav.tutorial {
    float: left;
    width: calc(20% - 40px);
    padding: 27px 10px;
    font-size: 12px;
    color: #5b7073;
  }
  /* line 310, ../../sass/styles.scss */
  .container nav.tutorial ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 315, ../../sass/styles.scss */
  .container nav.tutorial ul > li {
    padding: 10px 0px;
  }
  /* line 319, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li > a {
    color: #5b7073;
  }
  /* line 324, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li:hover:before {
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin-left: -14px;
    margin-top: -2px;
    position: absolute;
  }
  /* line 332, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li:hover > a {
    color: #324447;
  }
  /* line 339, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li.active > a {
    color: #324447;
  }
  /* line 343, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li.active:before {
    color: #f16524;
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin-left: -14px;
    margin-top: -2px;
    position: absolute;
  }
  /* line 355, ../../sass/styles.scss */
  .container nav.tutorial ul.level {
    display: none;
  }
  /* line 362, ../../sass/styles.scss */
  .container nav.usermanual {
    float: left;
    width: 100%;
    padding: 27px 0px;
    font-size: 12px;
  }
  /* line 368, ../../sass/styles.scss */
  .container nav.usermanual ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 3px;
  }
  /* line 374, ../../sass/styles.scss */
  .container nav.usermanual ul .expander {
    float: left;
    margin-top: 4px;
    margin-left: -14px;
  }
  /* line 379, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.hidden {
    display: none;
  }
  /* line 384, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.open .expander-icon {
    transform: rotate(90deg);
    display: block;
  }
  /* line 388, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.open .expander-icon > a {
    color: #f16524;
  }
  /* line 395, ../../sass/styles.scss */
  .container nav.usermanual ul .expander.closed .expander-icon {
    transform: rotate(0deg);
    display: block;
  }
  /* line 402, ../../sass/styles.scss */
  .container nav.usermanual ul li {
    padding: 5px 0px;
  }
  /* line 406, ../../sass/styles.scss */
  .container nav.usermanual ul li.parent:before {
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 412, ../../sass/styles.scss */
  .container nav.usermanual ul li.closed > ul {
    display: none;
  }
  /* line 416, ../../sass/styles.scss */
  .container nav.usermanual ul li.open > ul {
    display: block;
  }
  /* line 420, ../../sass/styles.scss */
  .container nav.usermanual ul li li {
    padding: 5px 15px;
  }
  /* line 424, ../../sass/styles.scss */
  .container nav.usermanual ul li > a {
    color: #5b7073;
  }
  /* line 435, ../../sass/styles.scss */
  .container main {
    float: left;
    width: 640px;
    padding: 20px 0px;
    padding-left: 30px;
    color: #324447;
  }
  /* line 442, ../../sass/styles.scss */
  .container main h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }
  /* line 446, ../../sass/styles.scss */
  .container main h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  /* line 450, ../../sass/styles.scss */
  .container main h3 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }
  /* line 454, ../../sass/styles.scss */
  .container main h4 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  /* line 458, ../../sass/styles.scss */
  .container main h5 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
  }
  /* line 463, ../../sass/styles.scss */
  .container main a {
    color: #324447;
  }
  /* line 466, ../../sass/styles.scss */
  .container main a:hover {
    text-decoration: underline;
  }
  /* line 471, ../../sass/styles.scss */
  .container main img {
    width: 100%;
  }
  /* line 475, ../../sass/styles.scss */
  .container main iframe {
    width: 640px;
    height: 480px;
    max-width: 100%;
    border: none;
  }
}
/* Extra small: (phones, 480px and up) */
@media (min-width: 480px) {
  /* line 487, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 492, ../../sass/styles.scss */
  nav.intro ul {
    width: 100%;
  }
  /* line 494, ../../sass/styles.scss */
  nav.intro ul li {
    width: calc(25% - 4px);
  }

  /* line 501, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 180px;
  }
  /* line 505, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 180px;
  }
  /* line 509, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
}
/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: 768px) {
  /* line 517, ../../sass/styles.scss */
  .content-width {
    width: 700px;
  }

  /* line 522, ../../sass/styles.scss */
  nav.intro ul {
    width: 616px;
  }
  /* line 524, ../../sass/styles.scss */
  nav.intro ul li {
    width: 150px;
  }
  /* line 527, ../../sass/styles.scss */
  nav.intro ul li:last-child {
    border-right: 1px solid #e6e6e6;
  }

  /* line 536, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 180px;
  }
  /* line 540, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 180px;
  }
  /* line 544, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 552, ../../sass/styles.scss */
  .content-width {
    width: 850px;
  }

  /* line 557, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 559, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 567, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 240px;
  }
  /* line 571, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 240px;
  }
  /* line 575, ../../sass/styles.scss */
  .container main {
    width: 480px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 583, ../../sass/styles.scss */
  .content-width {
    width: 970px;
  }

  /* line 588, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 590, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 597, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 240px;
  }
  /* line 601, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 240px;
  }
  /* line 605, ../../sass/styles.scss */
  .container main {
    width: 640px;
  }
}
