@font-face {
  font-family: 'ui-font-solid';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.ttf") format("truetype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* line 99, ../../sass/_fonts.scss */
.font-thin {
  font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* line 103, ../../sass/_fonts.scss */
.font-light {
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* line 107, ../../sass/_fonts.scss */
.font-regular {
  font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 111, ../../sass/_fonts.scss */
.font-bold {
  font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 0px) {
  /* line 5, ../../sass/styles.scss */
  body {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #324447;
    font-size: 16px;
  }

  /* line 15, ../../sass/styles.scss */
  h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }

  /* line 20, ../../sass/styles.scss */
  h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  /* line 25, ../../sass/styles.scss */
  a {
    color: #324447;
    text-decoration: none;
  }

  /* line 36, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 40, ../../sass/styles.scss */
  header {
    width: 100%;
    background-image: url(/images/common/BANNER_STRIPS1_Orange.png);
    background-position: center;
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 47, ../../sass/styles.scss */
  header a {
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 49, ../../sass/styles.scss */
  header a:hover {
    color: white;
    text-decoration: none;
  }
  /* line 55, ../../sass/styles.scss */
  header .header-title {
    display: inline-block;
  }
  /* line 58, ../../sass/styles.scss */
  header .header-title h1 {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin: 18px 0px;
  }
  /* line 65, ../../sass/styles.scss */
  header nav {
    font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: auto;
    font-size: 16px;
  }
  /* line 71, ../../sass/styles.scss */
  header ul {
    float: right;
    list-style-type: none;
    margin: 22px 0px;
    padding: 0;
  }
  /* line 77, ../../sass/styles.scss */
  header ul li {
    display: inline;
    padding: 10px 0px;
    margin: auto 30px;
  }
  /* line 83, ../../sass/styles.scss */
  header ul li.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  }
  /* line 85, ../../sass/styles.scss */
  header ul li.active a {
    color: white;
  }
  /* line 91, ../../sass/styles.scss */
  header .header-mobile-icon {
    display: none;
  }
  /* line 95, ../../sass/styles.scss */
  header .header-content {
    clear: both;
    margin: auto;
    padding: 20px 0px;
  }
  /* line 100, ../../sass/styles.scss */
  header .header-content h1 {
    font-size: 24px;
  }
  /* line 104, ../../sass/styles.scss */
  header .header-content img {
    padding: 30px;
    margin: auto;
  }
  /* line 109, ../../sass/styles.scss */
  header .header-content p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  /* line 117, ../../sass/styles.scss */
  header .header-page h1 {
    display: inline-block;
  }
  /* line 121, ../../sass/styles.scss */
  header .header-page .search {
    float: right;
    margin: 0;
    margin-top: 10px;
  }
  /* line 128, ../../sass/styles.scss */
  header .header-front-page {
    text-align: center;
  }

  /* line 134, ../../sass/styles.scss */
  .search-icon:before {
    font-size: 26px;
    position: relative;
    right: 70px;
    top: 3px;
    content: "\E333";
  }

  /* line 142, ../../sass/styles.scss */
  input.search {
    height: 32px;
    width: 30%;
    margin: 25px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
  }
  /* line 153, ../../sass/styles.scss */
  input.search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 156, ../../sass/styles.scss */
  input.search::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 159, ../../sass/styles.scss */
  input.search::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 162, ../../sass/styles.scss */
  input.search::input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 166, ../../sass/styles.scss */
  input.search:focus {
    outline: 0;
    border-color: white;
  }

  /* line 172, ../../sass/styles.scss */
  nav.regular {
    background-color: #f4f4f4;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
  }
  /* line 178, ../../sass/styles.scss */
  nav.regular a {
    color: #5b7073;
  }
  /* line 182, ../../sass/styles.scss */
  nav.regular ul {
    list-style-type: none;
    margin: auto;
    padding: 15px 0px;
  }
  /* line 187, ../../sass/styles.scss */
  nav.regular ul li {
    display: inline;
    padding: 17px 26px;
    border-left: 1px solid #dddddd;
  }
  /* line 193, ../../sass/styles.scss */
  nav.regular ul li:last-child {
    border-right: 1px solid #dddddd;
  }
  /* line 197, ../../sass/styles.scss */
  nav.regular ul li.active {
    background-color: white;
    border-bottom: 1px solid white;
  }
  /* line 201, ../../sass/styles.scss */
  nav.regular ul li.active a {
    color: #324447;
  }
  /* line 208, ../../sass/styles.scss */
  nav.regular usermanual-navbar {
    float: right;
  }

  /* line 213, ../../sass/styles.scss */
  nav.intro {
    background-color: #f4f4f4;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
  }
  /* line 219, ../../sass/styles.scss */
  nav.intro a {
    color: #5b7073;
  }
  /* line 223, ../../sass/styles.scss */
  nav.intro ul {
    list-style-type: none;
    margin: auto;
    padding: 20px 0px;
    width: 100%;
  }
  /* line 230, ../../sass/styles.scss */
  nav.intro ul li {
    width: calc(25% - 4px);
    padding: 5px 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #dddddd;
  }
  /* line 239, ../../sass/styles.scss */
  nav.intro ul li:last-child {
    border-right: 1px solid #dddddd;
  }
  /* line 244, ../../sass/styles.scss */
  nav.intro span {
    font-size: 64px;
  }
  /* line 248, ../../sass/styles.scss */
  nav.intro .video-icon:after {
    content: "\E275";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 253, ../../sass/styles.scss */
  nav.intro .manual-icon:after {
    content: "\E222";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 258, ../../sass/styles.scss */
  nav.intro .tutorials-icon:after {
    content: "\E212";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 263, ../../sass/styles.scss */
  nav.intro .api-icon:after {
    content: "\E286";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }

  /* line 269, ../../sass/styles.scss */
  .container {
    margin: auto;
  }
  /* line 272, ../../sass/styles.scss */
  .container nav.tutorial {
    float: left;
    width: calc(20% - 40px);
    padding: 27px 10px;
    font-size: 12px;
    color: #5b7073;
  }
  /* line 279, ../../sass/styles.scss */
  .container nav.tutorial ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 284, ../../sass/styles.scss */
  .container nav.tutorial ul li {
    padding: 10px 0px;
  }
  /* line 289, ../../sass/styles.scss */
  .container nav.tutorial ul li.active {
    color: #324447;
    border-bottom: 2px dotted #5b7073;
  }
  /* line 295, ../../sass/styles.scss */
  .container nav.tutorial ul.level {
    display: none;
  }
  /* line 299, ../../sass/styles.scss */
  .container nav.tutorial a {
    color: inherit;
  }
  /* line 302, ../../sass/styles.scss */
  .container nav.tutorial a:hover {
    text-decoration: underline;
  }
  /* line 308, ../../sass/styles.scss */
  .container nav.usermanual {
    float: left;
    width: 100%;
    padding: 27px 0px;
    font-size: 12px;
    color: #5b7073;
  }
  /* line 315, ../../sass/styles.scss */
  .container nav.usermanual ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 320, ../../sass/styles.scss */
  .container nav.usermanual ul li {
    padding: 5px 0px;
  }
  /* line 324, ../../sass/styles.scss */
  .container nav.usermanual ul li li {
    padding: 5px 15px;
  }
  /* line 329, ../../sass/styles.scss */
  .container nav.usermanual a {
    color: inherit;
  }
  /* line 332, ../../sass/styles.scss */
  .container nav.usermanual a:hover {
    text-decoration: underline;
  }
  /* line 338, ../../sass/styles.scss */
  .container main {
    float: left;
    width: 640px;
    padding: 20px 0px;
    padding-left: 30px;
    color: #324447;
  }
  /* line 345, ../../sass/styles.scss */
  .container main h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }
  /* line 349, ../../sass/styles.scss */
  .container main h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  /* line 353, ../../sass/styles.scss */
  .container main h3 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }
  /* line 357, ../../sass/styles.scss */
  .container main h4 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  /* line 361, ../../sass/styles.scss */
  .container main h5 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
  }
  /* line 366, ../../sass/styles.scss */
  .container main a {
    color: #324447;
  }
  /* line 369, ../../sass/styles.scss */
  .container main a:hover {
    text-decoration: underline;
  }
  /* line 374, ../../sass/styles.scss */
  .container main iframe {
    width: 640px;
    height: 480px;
    max-width: 100%;
    border: none;
  }
}
/* Extra small: (phones, 480px and up) */
@media (min-width: 480px) {
  /* line 386, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 391, ../../sass/styles.scss */
  nav.intro ul {
    width: 100%;
  }
  /* line 393, ../../sass/styles.scss */
  nav.intro ul li {
    width: calc(25% - 4px);
  }

  /* line 399, ../../sass/styles.scss */
  nav.usermanual {
    width: 180px;
  }

  /* line 403, ../../sass/styles.scss */
  nav.tutorial {
    width: 180px;
  }

  /* line 408, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
}
/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: 768px) {
  /* line 416, ../../sass/styles.scss */
  .content-width {
    width: 700px;
  }

  /* line 421, ../../sass/styles.scss */
  nav.intro ul {
    width: 616px;
  }
  /* line 423, ../../sass/styles.scss */
  nav.intro ul li {
    width: 150px;
  }
  /* line 427, ../../sass/styles.scss */
  nav.intro ul li:last-child {
    border-right: none;
  }

  /* line 433, ../../sass/styles.scss */
  nav.usermanual {
    width: 180px;
  }

  /* line 437, ../../sass/styles.scss */
  nav.tutorial {
    width: 180px;
  }

  /* line 442, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 450, ../../sass/styles.scss */
  .content-width {
    width: 850px;
  }

  /* line 454, ../../sass/styles.scss */
  nav.usermanual {
    width: 240px;
  }

  /* line 458, ../../sass/styles.scss */
  nav.tutorial {
    width: 240px;
  }

  /* line 463, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 465, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 472, ../../sass/styles.scss */
  .container main {
    width: 480px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 480, ../../sass/styles.scss */
  .content-width {
    width: 970px;
  }

  /* line 485, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 487, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 493, ../../sass/styles.scss */
  nav.tutorial {
    width: 240px;
  }

  /* line 498, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 500, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 507, ../../sass/styles.scss */
  .container main {
    width: 640px;
  }
}
