@font-face {
  font-family: 'ui-font-solid';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.ttf") format("truetype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot");
  src: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/proxima_nova_thin_t.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* line 99, ../../sass/_fonts.scss */
.font-thin {
  font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* line 103, ../../sass/_fonts.scss */
.font-light {
  font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* line 107, ../../sass/_fonts.scss */
.font-regular {
  font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 111, ../../sass/_fonts.scss */
.font-bold {
  font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 0px) {
  /* line 5, ../../sass/styles.scss */
  body {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: #324447;
    font-size: 16px;
  }

  /* line 15, ../../sass/styles.scss */
  h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
  }

  /* line 20, ../../sass/styles.scss */
  h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }

  /* line 25, ../../sass/styles.scss */
  a {
    color: #324447;
    text-decoration: none;
  }

  /* line 36, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 40, ../../sass/styles.scss */
  header {
    width: 100%;
    background-image: url(/images/common/BANNER_STRIPS1_Orange.png);
    background-position: center;
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 47, ../../sass/styles.scss */
  header a {
    color: rgba(255, 255, 255, 0.75);
  }
  /* line 49, ../../sass/styles.scss */
  header a:hover {
    color: white;
    text-decoration: none;
  }
  /* line 55, ../../sass/styles.scss */
  header .header-title {
    display: inline-block;
  }
  /* line 58, ../../sass/styles.scss */
  header .header-title h1 {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    margin: 18px 0px;
  }
  /* line 65, ../../sass/styles.scss */
  header nav {
    font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: auto;
    font-size: 16px;
  }
  /* line 71, ../../sass/styles.scss */
  header ul {
    float: right;
    list-style-type: none;
    margin: 22px 0px;
    padding: 0;
  }
  /* line 77, ../../sass/styles.scss */
  header ul li {
    display: inline;
    padding: 10px 0px;
    margin: auto 30px;
  }
  /* line 83, ../../sass/styles.scss */
  header ul li.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  }
  /* line 85, ../../sass/styles.scss */
  header ul li.active a {
    color: white;
  }
  /* line 91, ../../sass/styles.scss */
  header .header-mobile-icon {
    display: none;
  }
  /* line 95, ../../sass/styles.scss */
  header .header-content {
    clear: both;
    margin: auto;
    padding: 20px 0px;
  }
  /* line 100, ../../sass/styles.scss */
  header .header-content h1 {
    font-size: 24px;
  }
  /* line 104, ../../sass/styles.scss */
  header .header-content img {
    padding: 30px;
    margin: auto;
  }
  /* line 109, ../../sass/styles.scss */
  header .header-content p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  /* line 117, ../../sass/styles.scss */
  header .header-page h1 {
    display: inline-block;
  }
  /* line 121, ../../sass/styles.scss */
  header .header-page .search {
    float: right;
    margin: 0;
    margin-top: 10px;
  }
  /* line 128, ../../sass/styles.scss */
  header .header-front-page {
    text-align: center;
  }

  /* line 134, ../../sass/styles.scss */
  .search-icon:before {
    font-size: 26px;
    position: relative;
    right: 70px;
    top: 3px;
    content: "\E333";
  }

  /* line 142, ../../sass/styles.scss */
  input.search {
    height: 32px;
    width: 30%;
    margin: 25px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
  }
  /* line 153, ../../sass/styles.scss */
  input.search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 156, ../../sass/styles.scss */
  input.search::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 159, ../../sass/styles.scss */
  input.search::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 162, ../../sass/styles.scss */
  input.search::input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* line 166, ../../sass/styles.scss */
  input.search:focus {
    outline: 0;
    border-color: white;
  }

  /* line 172, ../../sass/styles.scss */
  nav.regular {
    background-color: #f1f1ef;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  /* line 178, ../../sass/styles.scss */
  nav.regular ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 52px;
  }
  /* line 186, ../../sass/styles.scss */
  nav.regular ul > li {
    float: left;
    border-left: 1px solid #e6e6e6;
  }
  /* line 190, ../../sass/styles.scss */
  nav.regular ul > li:last-child {
    border-right: 1px solid #e6e6e6;
  }
  /* line 194, ../../sass/styles.scss */
  nav.regular ul > li.active {
    background-color: white;
    border-bottom: 1px solid white;
  }
  /* line 198, ../../sass/styles.scss */
  nav.regular ul > li.active > a {
    color: #324447;
  }
  /* line 203, ../../sass/styles.scss */
  nav.regular ul > li > a {
    display: block;
    color: #5b7073;
    height: 52px;
    line-height: 52px;
    padding: 0 16px;
  }
  /* line 213, ../../sass/styles.scss */
  nav.regular usermanual-navbar {
    float: right;
  }

  /* line 219, ../../sass/styles.scss */
  nav.intro {
    background-color: #f1f1ef;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
  }
  /* line 225, ../../sass/styles.scss */
  nav.intro ul {
    list-style-type: none;
    margin: 0 auto;
    height: 170px;
    padding: 0;
    width: 100%;
  }
  /* line 233, ../../sass/styles.scss */
  nav.intro ul > li {
    float: left;
    width: calc(25% - 4px);
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #e6e6e6;
  }
  /* line 241, ../../sass/styles.scss */
  nav.intro ul > li > a {
    display: block;
    color: #5b7073;
    height: 170px;
    padding: 0 0px;
  }
  /* line 248, ../../sass/styles.scss */
  nav.intro ul > li > a:hover > span {
    color: #f16524;
  }
  /* line 252, ../../sass/styles.scss */
  nav.intro ul > li > a > span {
    display: block;
    padding-top: 30px;
  }
  /* line 258, ../../sass/styles.scss */
  nav.intro ul > li > a > p {
    margin: 0;
  }
  /* line 270, ../../sass/styles.scss */
  nav.intro span {
    font-size: 64px;
  }
  /* line 274, ../../sass/styles.scss */
  nav.intro .video-icon:after {
    content: "\E275";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 279, ../../sass/styles.scss */
  nav.intro .manual-icon:after {
    content: "\E222";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 284, ../../sass/styles.scss */
  nav.intro .tutorials-icon:after {
    content: "\E212";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 289, ../../sass/styles.scss */
  nav.intro .api-icon:after {
    content: "\E286";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }

  /* line 295, ../../sass/styles.scss */
  .container {
    margin: auto;
  }
  /* line 298, ../../sass/styles.scss */
  .container nav.tutorial {
    float: left;
    width: calc(20% - 40px);
    padding: 27px 10px;
    font-size: 12px;
    color: #5b7073;
  }
  /* line 305, ../../sass/styles.scss */
  .container nav.tutorial ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 310, ../../sass/styles.scss */
  .container nav.tutorial ul > li {
    padding: 10px 0px;
  }
  /* line 314, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li > a {
    color: #5b7073;
  }
  /* line 319, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li:hover:before {
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin-left: -14px;
    margin-top: -2px;
    position: absolute;
  }
  /* line 327, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li:hover > a {
    color: #324447;
  }
  /* line 334, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li.active > a {
    color: #324447;
  }
  /* line 338, ../../sass/styles.scss */
  .container nav.tutorial ul > li > ul > li.active:before {
    color: #f16524;
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    margin-left: -14px;
    margin-top: -2px;
    position: absolute;
  }
  /* line 358, ../../sass/styles.scss */
  .container nav.tutorial ul.level {
    display: none;
  }
  /* line 367, ../../sass/styles.scss */
  .container nav.usermanual {
    float: left;
    width: 100%;
    padding: 27px 0px;
    font-size: 12px;
    color: #5b7073;
  }
  /* line 374, ../../sass/styles.scss */
  .container nav.usermanual ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* line 379, ../../sass/styles.scss */
  .container nav.usermanual ul li {
    padding: 5px 0px;
  }
  /* line 382, ../../sass/styles.scss */
  .container nav.usermanual ul li:before {
    content: "\E113";
    font-family: 'ui-font-solid';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
  }
  /* line 387, ../../sass/styles.scss */
  .container nav.usermanual ul li li {
    padding: 5px 15px;
  }
  /* line 391, ../../sass/styles.scss */
  .container nav.usermanual ul li > a {
    display: inline-block;
    color: inherit;
  }
  /* line 403, ../../sass/styles.scss */
  .container main {
    float: left;
    width: 640px;
    padding: 20px 0px;
    padding-left: 30px;
    color: #324447;
  }
  /* line 410, ../../sass/styles.scss */
  .container main h1 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
  }
  /* line 414, ../../sass/styles.scss */
  .container main h2 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  /* line 418, ../../sass/styles.scss */
  .container main h3 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
  }
  /* line 422, ../../sass/styles.scss */
  .container main h4 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  /* line 426, ../../sass/styles.scss */
  .container main h5 {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
  }
  /* line 431, ../../sass/styles.scss */
  .container main a {
    color: #324447;
  }
  /* line 434, ../../sass/styles.scss */
  .container main a:hover {
    text-decoration: underline;
  }
  /* line 439, ../../sass/styles.scss */
  .container main iframe {
    width: 640px;
    height: 480px;
    max-width: 100%;
    border: none;
  }
}
/* Extra small: (phones, 480px and up) */
@media (min-width: 480px) {
  /* line 451, ../../sass/styles.scss */
  .content-width {
    width: 100%;
  }

  /* line 456, ../../sass/styles.scss */
  nav.intro ul {
    width: 100%;
  }
  /* line 458, ../../sass/styles.scss */
  nav.intro ul li {
    width: calc(25% - 4px);
  }

  /* line 465, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 180px;
  }
  /* line 469, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 180px;
  }
  /* line 473, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
}
/* Small devices (tablets, desktops, 768px and up) */
@media (min-width: 768px) {
  /* line 481, ../../sass/styles.scss */
  .content-width {
    width: 700px;
  }

  /* line 486, ../../sass/styles.scss */
  nav.intro ul {
    width: 616px;
  }
  /* line 488, ../../sass/styles.scss */
  nav.intro ul li {
    width: 150px;
  }
  /* line 491, ../../sass/styles.scss */
  nav.intro ul li:last-child {
    border-right: 1px solid #e6e6e6;
  }

  /* line 500, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 180px;
  }
  /* line 504, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 180px;
  }
  /* line 508, ../../sass/styles.scss */
  .container main {
    width: 300px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 516, ../../sass/styles.scss */
  .content-width {
    width: 850px;
  }

  /* line 521, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 523, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 531, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 240px;
  }
  /* line 535, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 240px;
  }
  /* line 539, ../../sass/styles.scss */
  .container main {
    width: 480px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 547, ../../sass/styles.scss */
  .content-width {
    width: 970px;
  }

  /* line 552, ../../sass/styles.scss */
  nav.intro ul {
    width: 816px;
  }
  /* line 554, ../../sass/styles.scss */
  nav.intro ul li {
    width: 200px;
  }

  /* line 561, ../../sass/styles.scss */
  .container nav.usermanual {
    width: 240px;
  }
  /* line 565, ../../sass/styles.scss */
  .container nav.tutorial {
    width: 240px;
  }
  /* line 569, ../../sass/styles.scss */
  .container main {
    width: 640px;
  }
}
