{% extends "base.j2" %}

{% block left %}
    {% from "macros.j2" import render_main_menu with context %}
    {{ render_main_menu() }}
{% endblock left %}

{% block main -%}
    <article class="pc-article">
        {% filter markdown -%}
        {% mark article -%}
            {% block article -%}{%- endblock %}
        {%- endmark %}
        {%- endfilter %}
    </article>
{%- endblock %}