{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_main_menu() -%}
			<navigation>
				<ul>
                {% for grp, res_walker in site.content.walk_topic_groups() %}
                    {% for res in res_walker %}
                        {% if resource == res %}
                          {% set current_class = "pc-current" %}
                        {% else %}
                            {% set current_class = "" %}
                        {% endif %}
                        {% if res.meta.title == "developer resources" %}
                            <li class="pc-home {{ current_class }}" ><a href="{{ res.full_url }}">{{ res.meta.title }}</a></li>                            
                        {% elif not res.meta.subtopic %}
                            <li class="pc-topic {{ current_class }}" ><a href="{{ res.full_url }}">{{ res.meta.title }}</a></li>
                        {% else %}
                            <li class="pc-subtopic {{ current_class }}" ><a href="{{ res.full_url }}">{{ res.meta.title }}</a></li>
                        {% endif %}                        
                    {% endfor %}
			    {% endfor %}
			 	</ul>
			</navigation>
{%- endmacro %}

{% macro render_header() -%}
            <div id="header" class="pc-header">
                {% set logo_url = "%s%s" % (paths.static_server, "/images/playcanvas-flat-40.png") %}
                <a href="/"><img src="{{logo_url}}" /></a>
            </div>
            <div class="pc-header-menus">
                <nav class="account-bar">
                    &nbsp;<a href="http://playcanvas.com">playcanvas</a>
                    <ul>
                        <li><a href="http://platform.playcanvas.com">platform</a></li>
                        <li><a href="http://playcanvas.com/blog">news</a></li>
                        <li><a href="http://answers.playcanvas.com/">ask a question</li>
                    </ul>
                </nav>
            </div>
{%- endmacro %}

 
{% macro render_footer() -%}
        <footer>
            <div class="footer-centred">
                <span>&copy; copyright 2011</span>
                <span><a href="http://playcanvas.com">playcanvas ltd</a></span>
                <span>|</span>
                <span><a href="http://playcanvas.com/terms-of-use">terms of use</a></span>
                <span>|</span>
                <span><a href="http://playcanvas.com/privacy-policy">privacy policy</a></span>
                <span>|</span>
                <span><a href="http://twitter.com/playcanvas"><img src="{{ "%s%s" % (paths.static_server, "/images/icons/16x16/twitter_1.png") }}" />follow us</a></span>
                <span>|</span>
                <span><a href="http://platform.playcanvas.com/credits">credits</a></span>
                <span>|</span>
                <span>documentation: {{site.context.version.revision}} </span>
            </div>
        </footer>
{%- endmacro %}