<!doctype html>
<html>
    <head>
    </head>
    <body>
        <div id="main">
            <div id="page-container">
                {% block header -%}
                {% from "macros.j2" import render_header with context %}
                {{ render_header(menu, 'header') }}
                {%- endblock %}

                {% block content -%}
                {%- endblock %}
            </div>
            
        </div>
        
    </body>
    
</html>