{% extends "base.j2" %}

{% block main -%}
	  {% from "macros.j2" import render_main_menu with context %}
	  {{ render_main_menu() }}

<article class="tutorial">
{% filter markdown -%}
{% mark article -%}
{% block article -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</article>
{%- endblock %}