{% extends "base.j2" %}

{% block main -%}
<navigation>
stuff</navigation>
<article class="tutorial">
{% filter markdown -%}
{% mark article -%}
{% block article -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</article>
{%- endblock %}