{% extends "base.j2" %}

{% block main -%}
<article class="tutorial">
{% filter markdown|typogrify -%}
{% mark article -%}
{% block article -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</article>
{%- endblock %}