/* Tutorials.module.css */
.tutorialsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.tutorialTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 180px;
    height: 240px;
    overflow: hidden;
    text-align: center;
}

.thumbnail {
    width: 100%;
    height: auto; /* maintain aspect ratio */
}

.title {
    font-size: 14px;
    margin-top: 5px;
}

.tagContainer {
    text-align: center;
    margin: 20px;
}

.tagButton {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}

.tagButton:hover,
.activeTag {
    background-color: #ffaa00;
    color: white;
}
