/* Tutorials.module.scss */
@import '../css/custom.scss';

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tutorialsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.tutorialTile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 180px;
    height: 240px;
    overflow: hidden;
    text-align: center;
    overflow: visible;

    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-fill-mode: both;

    
    .thumbnail{
        transition: all 0.2s ease-in-out;
        @extend .shadow;
    }
    
    &:hover {
        .thumbnail{    
            @extend .shadow-lg;
            transform: scale(1.01);
        }
    }
}


.tutorialTile:nth-child(odd) {
    animation-delay: 0.2s;
  }
  
  .tutorialTile:nth-child(even) {
    animation-delay: 0.4s;
  }

.thumbnail {
    border-radius: 6px;
    width: 100%;
    height: auto; /* maintain aspect ratio */
}

.title {
    font-size: 14px;
    margin-top: 5px;
}

.tagIcon {
    width: .8rem;
    height: .8rem;
    margin: auto;
    margin-right: -.4rem;
    margin-left: .4rem;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1rem;
}

.tagButton {
    font-size: 12.8px;
    display: flex;
    box-sizing:content-box;
    white-space: nowrap;
    margin: .4rem .2rem;
    padding: .6rem 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: none;
    border-radius: 50px;

    &:hover {
        @extend .shadow;
        background: #ffaa00;
        color: white
    }
}

[data-theme='dark'] {
    .tagButton {
        background-color: rgba(255, 255, 255, 0.05);

        &:hover {
            @extend .shadow;
            background: #ffaa00;
            color: white
        }
    }
}


.activeTag {
    background: #ffaa00 !important;
    color: white;
}