---
title: animation component
description: 
topic: components
index: 1
---

# Component: animation

The 'animation' component enables an entity to specify which animations can be applied to the model assigned to its model component.

<img alt="Component Interface" src="/media/images/platform/component_animation.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an animation component's properties using a [script component](/tools/designer/components/script.html). The animation component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.AnimationComponent.html).