---
title: audiolistener component
description: 
topic: components
index: 2
---

# Component: audiolistener

The 'audiolistener' component specifies the listener's position in 3D space. All 3D audio playback will be relative to this position.

<img alt="Component Interface" src="/media/images/platform/component_audiolistener.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an audiolistener component's properties using a [script component](/tools/designer/components/script.html). The audiolistener component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.AudioListenerComponent.html).