---
title: collisionbox component
description: 
topic: components
index: 5
---

# Component: collisionbox

The 'collisionbox' component attaches a box-shaped collision volume to an entity.

<img alt="Component Interface" src="/media/images/platform/component_collisionbox.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an collisionbox component's properties using a [script component](/tools/designer/components/script.html). The collisionbox component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.CollisionBoxComponent.html).