---
title: collisionmesh component
description: 
topic: components
index: 7
---

# Component: collisionmesh

The 'collisionmesh' component attaches a mesh-based collision volume to an entity.

<img alt="Component Interface" src="/media/images/platform/component_collisionmesh.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td>Asset</td><td>The model asset that will be used as a source for the triangle-based collision mesh.</td></tr>
</table>

## Scripting Interface

You can control an collisionmesh component's properties using a [script component](/tools/designer/components/script.html). The collisionmesh component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.CollisionMeshComponent.html).