---
title: collisioncapsule component
description: 
topic: components
index: 6
---

# Component: collisioncapsule

The 'collisioncapsule' component attaches a box-shaped collision volume to an entity.

<img alt="Component Interface" src="/media/images/platform/component_collisioncapsule.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td>Axis</td><td>Aligns the capsule with the local-space X, Y or Z axis of the entity.</td></tr>
    <tr><td>Height</td><td>The tip-to-tip height of the capsule.</td></tr>
    <tr><td>Radius</td><td>The radius of the capsule's body.</td></tr>
</table>

## Scripting Interface

You can control an collisioncapsule component's properties using a [script component](/tools/designer/components/script.html). The collisioncapsule component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.CollisionCapsuleComponent.html).