---
title: collisioncapsule component
description: 
topic: components
index: 6
---

# Component: collisioncapsule

The 'collisioncapsule' component attaches a box-shaped collision volume to an entity.

<img alt="Component Interface" src="/media/images/platform/component_collisioncapsule.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an collisioncapsule component's properties using a [script component](/tools/designer/components/script.html). The collisioncapsule component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.CollisionCapsuleComponent.html).