---
title: collisionsphere component
description: 
topic: components
index: 8
---

# Component: collisionsphere

The 'collisionsphere' component attaches a sphere-shaped collision volume to an entity.

<img alt="Component Interface" src="/media/images/platform/component_collisionsphere.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an collisionsphere component's properties using a [script component](/tools/designer/components/script.html). The collisionsphere component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.CollisionSphereComponent.html).