---
title: pointlight component
description: 
topic: components
index: 11
---

# Component: pointlight

The 'pointlight' component attaches a point light source to an entity.

<img alt="Component Interface" src="/media/images/platform/component_pointlight.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td>Enable</td><td>If checked, the point light will light the scene.</td></tr>
    <tr><td>Color</td><td>The color of the emitted light.</td></tr>
    <tr><td>Intensity</td><td>The intensity of the light that acts as a scalar value for the light's color. This value can exceed 1.</td></tr>
    <tr><td>Radius</td><td>The radius of the point light (a point light source is spherical).</td></tr>
</table>

## Scripting Interface

You can control an pointlight component's properties using a [script component](/tools/designer/components/script.html). The pointlight component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.PointLightComponent.html).