---
title: pointlight component
description: 
topic: components
index: 11
---

# Component: pointlight

The 'pointlight' component attaches a point light source to an entity.

<img alt="Component Interface" src="/media/images/platform/component_pointlight.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an pointlight component's properties using a [script component](/tools/designer/components/script.html). The pointlight component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.PointLightComponent.html).