---
title: primitive component
description: 
topic: components
index: 12
---

# Component: primitive

The 'primitive' component attaches a 3D graphical primitive to an entity.

<img alt="Component Interface" src="/media/images/platform/component_primitive.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an primitive component's properties using a [script component](/tools/designer/components/script.html). The primitive component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.PrimitiveComponent.html).