---
title: rigidbody
description: 
topic: rigidbody component
index: 1
---

# Component: rigidbody

The 'rigidbody' component enables an entity to participate in the scene's physics simulation. This allows the movement of an entity to be simulated realistically.

<img alt="Designer Interface" width="640" src="/media/images/platform/component_rigidbody.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td>Mass</td><td>The mass of the body. If world units in your scene are meters, units for mass is kilograms.</td></tr>
    <tr><th>Linear Damping</th><th>Specifies the proportion of linear velocity is that lost by the body every second.</th></tr>
    <tr><th>Angular Damping</th><th>Specifies the proportion of angular velocity is that lost by the body every second.</th></tr>
    <tr><th>Linear Factor</th><th>Multiplier for a body's linear movement in each world axis.</th></tr>
    <tr><th>Angular Factor</th><th>Multiplier for a body's angular movement in each world axis.</th></tr>
    <tr><th>Friction</th><th>Controls how a body loses velocity when in contact with other bodies.</th></tr>
    <tr><th>Restitution</th><th>A measure of the bounciness of a body between 0 and 1.</th></tr>
    <tr><th>Body Type</th><th>The type of the body:<br><ul><li>Static</li><li>Dynamic</li><li>Kinematic</li></ul></th></tr>
</table>
