---
title: skybox component
description: 
topic: components
index: 15
---

# Component: skybox

The 'skybox' component attaches a skybox to an entity.

<img alt="Component Interface" src="/media/images/platform/component_skybox.png" />

## Properties

<table>
    <tr><th>Property</th><th>Description</th></tr>
    <tr><td></td><td></td></tr>
</table>

## Scripting Interface

You can control an skybox component's properties using a [script component](/tools/designer/components/script.html). The skybox component's scripting interface is [here](/engine/api/stable/symbols/pc.fw.SkyBoxComponent.html).