<div>{{description}}</div>
<iframe src="{{appUrl}}" allowfullscreen="true" allow="xr-spatial-tracking"></iframe>
<div>
    <a class="tutorial-button editor-button" href="{{editorUrl}}" target="_blank" rel="noopener">Open in Editor</a>
    <a class="tutorial-button project-button"  href="{{projectUrl}}" target="_blank" rel="noopener">Fork Project</a>
</div>
