<!doctype html>
<html lang="{{locale}}">
    {{> head}}

    <body>
        {{> header frontpage=true}}

        <div class="nav-container">
            <nav id="intro-navbar" class="intro">
                <ul class="content-width">
                    <li>
                        <a href="/user-manual">
                        <span class="manual-icon"></span>
                        <p>{{#i18n}}USER MANUAL{{/i18n}}</p>
                        </a>
                    </li>
                    <li>
                        <a href="/tutorials">
                        <span class="tutorials-icon"></span>
                        <p>{{#i18n}}TUTORIALS{{/i18n}}</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.playcanvas.com/" target="_blank" rel="noopener">
                        <span class="forum-icon"></span>
                        <p>{{#i18n}}FORUM{{/i18n}}</p>
                        </a>
                    </li>
                    <li>
                        <a href="/api">
                        <span class="api-icon"></span>
                        <p>{{#i18n}}API REFERENCE{{/i18n}}</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container content-width">
            <main class="frontpage">
                <div class="thumbnail">
                    <a href="https://tanx.io">
                        <img src="/images/thumbnails/Tanx_Thumb.png" alt="TANX">
                    </a>
                    <h1>{{#i18n}}Games{{/i18n}}</h1>
                    <p>{{#i18n}}Awesome games{{/i18n}}</p>
                </div>
                <div class="thumbnail">
                    <a href="https://playcanv.as/p/RqJJ9oU9/">
                        <img src="/images/thumbnails/BMW_Thumb.png" alt="BMW i8">
                    </a>
                    <h1>{{#i18n}}Brand Experiences{{/i18n}}</h1>
                    <p>{{#i18n}}Incredible brand experiences{{/i18n}}</p>
                </div>
                <div class="thumbnail">
                    <a href="https://playcanv.as/p/1ha5glKf">
                        <img src="/images/thumbnails/Orange_Thumb.png" alt="Orange Room">
                    </a>
                    <h1>{{#i18n}}Visualizations{{/i18n}}</h1>
                    <p>{{#i18n}}High quality product visualizations{{/i18n}}</p>
                </div>
                <div style="clear:both"></div>

                <hr />

                {{{ contents }}}
            </main>
        </div>
        {{> scripts}}
        {{> analytics}}
        {{> footer}}
    </body>
</html>
