<!doctype html>
<html>
    {{> head}}

    <body>
        {{> header header-icon="&#58163;" header-title="Search"}}

        <div class="search-container content-width">
            <main>
                <script>
                (function() {
                  var cx = '002746929884179103209:xblwiyfekam';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//www.google.com/cse/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
                </script>
                <gcse:searchresults-only></gcse:searchresults-only>
            </main>
        </div>

        {{> scripts}}

        {{> analytics}}
    </body>
</html>
