<!doctype html>
<html>
    {{> head}}

    <body>
        {{> header}}

        <main class="container content-width">
            <script>
            (function() {
              var cx = '002746929884179103209:xblwiyfekam';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//www.google.com/cse/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <gcse:searchresults-only></gcse:searchresults-only>
        </main>

        {{> scripts}}

        {{> analytics}}
    </body>
</html>
